/* You can add global styles to this file, and also import other style files */
body {
    font-size: 17px;
}

h1{
    font-size: 2em;  
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.17em;
}

h1, h2, h3{
    margin-top: 0.5%;
}

hr.red {
    margin: 10px 0 25px
}

.btn-hidden{
    display: none;
}

.btn{
    width: auto;
    font-size: 17px;
    padding: 10px 15px;
}

table thead tr th{
    text-align: left;
}

.dvTable {
    overflow-y: auto;
    max-height: 600px;
    margin: 20px 0px 10px 0px;
}

/* .dvTable tbody>tr:hover {
    background-color: #DDDDDD;
} */
