<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="container-fluid">

  <h1 class="row col">Carga de resultados validados</h1>
  <hr class="red">
  <div class="message-container">
    <app-alert #mensajes id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta"
      [type]="this.tipoAlerta" (mostrando)="this.mostrarAlerta=$event"></app-alert>
  </div>
  <div class="clearfix">
    <div class="float-left">
      <input type="file" class="element-hidden" (change)="cargarArchivo($event)" accept=".xls, .xlsx"
        title="Seleccionar archivo" #inputExcelMonitoreos>
      <button type="button" class="btn btn-primary" (click)="inputExcelMonitoreos.click()" title="Seleccionar archivo">
        <i class="bi bi-cloud-upload"></i>
        Seleccionar y procesar archivo...
      </button>
      <button style="margin-left:5px" class="btn btn-primary" type="button" (click)="enviarMonitoreos()">
        <i class="bi bi-send"></i>&nbsp;Enviar monitoreo(s)
      </button>
    </div>
    <div class="float-right">
      <button class="btn btn-secondary mr-1" type="button" (click)="exportarResultados()">
        <i class="bi bi-cloud-download"></i> Descargar informaci&oacute;n
      </button>
      <button class="btn btn-secondary" (click)="this.limpiarFiltros()">
        <i class="bi bi-funnel"></i>
        Limpiar filtros
      </button>
    </div>
  </div>

  <br />
  <div class="clearfix">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4" style="padding:0px">
      <ng-autocomplete [data]="this.filtrosCabeceroFoco" [searchKeyword]="keyword"
        (inputChanged)='onCabeceroFoco($event)' (inputCleared)="esfilrofoco = ''" (selected)="seleccionCabecero($event)"
        [itemTemplate]="itemCabeceros" placeholder="Buscar en cabeceros">
      </ng-autocomplete>
      <ng-template #itemCabeceros let-item>
        <a [innerHTML]="item"></a>
      </ng-template>
    </div>
  </div>
  <br />

  <div *ngIf="esHistorial" class="alert alert-dark" role="group" aria-label="Basic example"
    style="padding:10px; width:1500px; height:max-content">
    <label>Historial filtrado</label> <br />
    <ng-container *ngFor="let historial of this.columns">
      <button *ngIf="historial.filtered" type="button" class="btn btn-success"
        (click)="eliminarFiltro(historial); historial.filtered=false; this.existeFiltrado = validarExisteFiltrado(); consultarMonitoreos();"
        style="font-size:xx-small;margin-right:5px; margin-top:5px;">
        {{historial.label}}<i class="bi bi-x"></i>
      </button>
    </ng-container>
  </div>

  <div class="alert alert-secondary" role="alert"
    *ngIf="this.selectAllOption && !this.allSelected && this.totalItems > this.NoPage ">
    Los {{this.muestreos.length}} registros de esta página están seleccionados. <button type="button"
      (click)="onSelectAllPagesClick()" class="btn btn-link">Seleccionar los {{this.totalItems}} registros</button>
  </div>
  <div class="alert alert-secondary" role="alert" *ngIf="this.allSelected">
    Los {{this.totalItems}} registros están seleccionados. <button type="button" class="btn btn-link"
      (click)="onUnselectAllClick()">Anular la seleccion</button>
  </div>
  <div class="dvTable table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th class="checkBox-center" style="text-align:center;">
            <label for="chckAll">SELECCIONAR</label>
            <input type="checkbox" id="chckAll" [(ngModel)]="this.selectedPage" (change)="onSelectPageClick();"
              title="Selecciona la página actual" />
          </th>
          <th #thprueba
            [ngStyle]="{ backgroundColor: (esfilrofoco == this.columna.label && !this.cabeceroSeleccionado) || (this.columna.label.indexOf(esfilrofoco) != -1 && this.esfilrofoco != '' && !this.cabeceroSeleccionado )  ? 'lightblue' : ( (cabeceroSeleccionado && esfilrofoco == this.columna.label ) ? 'yellow' : '#E9ECEF') }"
            scope="col" *ngFor="let columna of this.columns">
            <div class="dropdown;" style="width:max-content">
              {{columna.label}}
              <button id="dLabel" style="border:none; text-align:right" data-toggle="dropdown" aria-haspopup="true"
                title="Filtros" aria-expanded="false"
                (click)="establecerValoresFiltrosTabla(columna); this.initialValue = ''">
                <i *ngIf="!columna.filtered && !columna.asc && !columna.desc" class="bi bi-caret-down-fill"></i>
                <i *ngIf="columna.filtered" class="bi bi-funnel-fill"></i>
                <i [(ngModel)]="columna.asc" *ngIf="columna.asc" class="bi bi-arrow-down"></i>
                <i [(ngModel)]="columna.desc" *ngIf="columna.desc" class=" bi bi-arrow-up"></i>
              </button>
              <form [formGroup]="registroParam">
                <div class="dropdown-menu" style="width:250px; height:500px">
                  <a (click)="ordenarAZ(columna, 'asc');" class="dropdown-item">
                    <i [ngStyle]="{'background-color':(columna.asc) ? 'lightgreen' : 'white'}"
                      class="bi bi-sort-alpha-down"></i>
                    Ordenar de A a Z
                  </a>
                  <a (click)="ordenarAZ(columna, 'desc');" class="dropdown-item">
                    <i [ngStyle]="{'background-color':(columna.desc) ? 'lightgreen' : 'white'}"
                      class="bi bi-sort-alpha-down-alt"></i>
                    Ordenar de Z a A
                  </a>
                  <hr class="dropdown-divider">
                  <a (click)="eliminarFiltro(columna); columna.filtered=false; this.existeFiltrado=validarExisteFiltrado(); consultarMonitoreos();"
                    class="dropdown-item">
                    <i [ngStyle]="{color:(columna.filtered) ? 'red' : 'black'}" class="bi bi-funnel-fill"></i> <i
                      style="padding:0px" class="bi bi-x"></i> Eliminar filtro de {{columna.label}}
                  </a>
                  <a class="dropdown-item">
                    Filtros de texto

                    <!--<a class="dropdown-item">Es igual a...</a>
                    <a class="dropdown-item">Comienza por...</a>
                    <a class="dropdown-item">Termina con...</a>
                    <a class="dropdown-item">Cntiene...</a>-->
                  </a>

                  <div class="dropdown-divider"></div>
                  <div style="height:300px; overflow:scroll; padding:5px">
                    <input #txtBuscador class="form-control" placeholder="Buscar" type="text"
                      (input)="onFiltroCabecero($event, columna)" />
                    <span><i class="bi bi-search"></i></span>
                    <br />
                    <input type="checkbox" id="chckAllFiltro{{columna.name}}" formControlName="chckAllFiltro"
                      [(ngModel)]="columna.selectAll" (change)="seleccionarAllFiltro(columna);" />
                    <label style="font-size:x-small" (click)="$event.stopPropagation()"
                      for="chckAllFiltro{{columna.name}}">Seleccionar
                      todos</label>
                    <div style="height:min-content" *ngFor="let dato of columna.filteredData; index as i">
                      <input type="checkbox" id={{columna.name+i}} [(ngModel)]="dato.checked"
                        formControlName="chkFiltro" class="check" (change)="seleccionarFiltro(columna)"
                        id="chkFiltro" />
                      <label for="{{columna.name+i}}" style="font-size:xx-small;text-align:left"
                        (click)="$event.stopPropagation()">&nbsp;{{dato.value}}</label>
                    </div>
                  </div>
                  <div class="modal-footer" style="font-size:xx-small; height:100px">
                    <button id="btnCancelarFiltro" type="button" style="font-size:xx-small" class="btn btn-secondary"
                      data-dismiss="dropdown">
                      Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" style="font-size:xx-small" data-dismiss="dropdown"
                      (click)="filtrar(columna)">
                      Aceptar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr style="height:auto; text-align:center"
          *ngFor="let muestreo of this.muestreos | paginate: { itemsPerPage:NoPage, currentPage: page, totalItems: totalItems}">
          <td class="checkBox-center">
            <input type="checkbox" [(ngModel)]="muestreo.isChecked" (change)="onSelectClick(muestreo)"
              title="Seleccionar">
          </td>
          <td>{{muestreo.estatus}}</td>
          <td>{{(muestreo.evidencias.length > 1) ? "SI":"NO"}} </td>
          <td>{{muestreo.numeroEntrega}}</td>
          <td>{{muestreo.claveSitio}}</td>
          <td>-</td>
          <td style="width:300px">{{muestreo.claveMonitoreo}}</td>
          <td style="width:2000px">{{muestreo.tipoSitio}}</td>
          <td style="width:500px; text-justify:auto; text-align:left; margin:auto">{{muestreo.nombreSitio}}</td>
          <td>{{muestreo.ocdl}}</td>
          <td style="width:500px">{{muestreo.tipoCuerpoAgua}}</td>
          <td>{{muestreo.subTipoCuerpoAgua}}</td>
          <td>{{muestreo.programaAnual}}</td>
          <td>{{muestreo.laboratorio}}</td>
          <td>{{muestreo.laboratorioSubrogado}}</td>
          <td>{{muestreo.fechaProgramada}}</td>
          <td>{{muestreo.fechaRealizacion}}</td>
          <td>{{muestreo.horaInicio}}</td>
          <td>{{muestreo.horaFin}}</td>
          <td>{{muestreo.fechaCarga}}</td>
          <td>{{muestreo.fechaEntregaMuestreo}}</td>
        </tr>
        <tr *ngIf="this.muestreos.length==0">
          <td class="td-center" colspan="22">No se encontraron registros</td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="pageClic($event)" previousLabel="Anterior" nextLabel="Siguiente">
  </pagination-controls>

  <div class="row">
    <div class="col-md-6 align-self-end">
      <button class="btn btn-secondary" type="button" (click)="confirmarEliminacion()">
        <i class="bi bi-trash"></i>&nbsp;Eliminar monitoreos seleccionados
      </button>
      <button id="btnMdlConfirmacion" class="btn btn-primary element-hidden" type="button" data-toggle="modal"
        data-target="#mdlConfirmacion" title="Seleccionar"></button>
    </div>
  </div>
  <hr />
  <app-muestreos-totales></app-muestreos-totales>
  <div class="modal fade modal-dialog-centered" id="mdlConfirmacion" data-bs-backdrop="static" data-toggle="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="staticBackdropLabel">Confirmar eliminación</h4>
        </div>
        <div class="modal-body">
          <p>¿Está seguro de eliminar los monitoreos seleccionados y los resultados correspondientes?</p>
        </div>
        <div class="modal-footer">
          <button id="btnCancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminarMuestreos()">
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>

  <button id="btnMdlConfirmacionActualizacion" class="element-hidden" type="button" data-toggle="modal"
    data-target="#mdlConfirmacionActualizacion">
    Abrir modal
  </button>
  <div class="modal fade modal-dialog-centered" id="mdlConfirmacionActualizacion" data-bs-backdrop="static"
    data-toggle="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="staticBackdropLabel">Confirmar carga de resultados</h4>
        </div>
        <div class="modal-body">
          <p>
            Los resultados correspondientes al número de entrega <b>{{this.numeroEntrega}}</b> del año
            <b>{{this.anioOperacion}}</b>, ya han sido cargados previamente.
          </p>
          <p><b>¿Desea volver a cargarlos?</b> Esta acción sustituirá los valores de los resultados.</p>
        </div>
        <div class="modal-footer">
          <button id="btnCancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sustituirResultados()">
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>