<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="container-fluid">
  <h1>Carga de resultados validados</h1>
  <hr class="red">
  <div class="message-container">
    <app-notification></app-notification>
  </div>
  <div class="clearfix">
    <div class="float-lefth col-md-4">
      <app-busqueda-columna [esHistorialValor]="this.esHistorial" (mostrandocabecero)="this.cabeceroSeleccionado=$event"
        (mostrandoesfiltrofoco)="this.esfiltrofoco=$event" [headerList]="this.headers">
      </app-busqueda-columna>
    </div>
    <div class="float-right">
      <input type="file" class="element-hidden" (change)="cargarArchivo($event)" accept=".xls, .xlsx"
        title="Seleccionar archivo" #inputExcelMonitoreos>
      <button type="button" class="btn btn-primary btn-sm mr-1" (click)="inputExcelMonitoreos.click()"
        title="Seleccionar archivo">
        <i class="bi bi-cloud-upload"></i>
        Seleccionar y procesar archivo...
      </button>
      <button class="btn btn-primary btn-sm mr-1" type="button" (click)="enviarMonitoreos()">
        <i class="bi bi-send"></i>&nbsp;Enviar monitoreo(s)
      </button>
      <button class="btn btn-secondary btn-sm mr-1" type="button" (click)="exportarResultados()">
        <i class="bi bi-cloud-download"></i> Descargar informaci&oacute;n
      </button>
      <button class="btn btn-secondary btn-sm" (click)="this.limpiarFiltros()">
        <i class="bi bi-funnel"></i>
        Limpiar filtros
      </button>
    </div>
  </div>

  <app-historial></app-historial>
  <div class="alert alert-secondary" role="alert"
    *ngIf="this.selectAllOption && !this.allSelected && this.totalItems > this.NoPage ">
    Los {{this.muestreos.length}} registros de esta página están seleccionados. <button type="button"
      (click)="onSelectAllPagesClick()" class="btn btn-link">
      Seleccionar los {{this.totalItems}} registros
    </button>
  </div>
  <div class="alert alert-secondary" role="alert" *ngIf="this.allSelected">
    Los {{this.totalItems}} registros están seleccionados. <button type="button" class="btn btn-link"
      (click)="onUnselectAllClick()">
      Anular la seleccion
    </button>
  </div>
  <div class="dvTable">
    <table class="table-bordered table-hover">
      <thead class="thead-sticky">
        <tr>
          <th columnResize class="td-center no-border-bottom th-resize">
            &nbsp;SELECCIONAR&nbsp;
          </th>
          <th columnResize scope="col" *ngFor="let columna of this.columns let i = index" id="{{columna.name}}"
            class="no-border-bottom th-resize"
            [ngStyle]="{ 'backgroundColor': (esfiltrofoco == this.columna.name && !this.cabeceroSeleccionado) || (this.columna.label.indexOf(esfiltrofoco) != -1 && this.esfiltrofoco != '' && !this.cabeceroSeleccionado )  ? 'lightblue' : ( (cabeceroSeleccionado && esfiltrofoco == this.columna.name ) ? 'yellow' : '#E9ECEF'), 'z-index': '0'}">
            {{columna.label}}
          </th>
        </tr>
        <tr>
          <th class="no-border-top td-center">
            <input class="cursor-pointer" type="checkbox" id="chckAll" [(ngModel)]="this.selectedPage"
              (change)="onSelectPageClick(this.muestreos,this.muestreosSeleccionados);  this.getSummary();"
              title="Selecciona la página actual" />
          </th>
          <th class="no-border-top" *ngFor="let columna of this.columns let i = index" id="filter-{{columna.name}}">
            <div class="dropdown" style="width:max-content" id="dd-{{columna.name}}">
              <button id="dLabel" style="border:none; text-align:right" data-toggle="dropdown" aria-haspopup="true"
                title="Filtros" aria-expanded="false" (click)="onFilterIconClick(columna)">
                <i *ngIf="!columna.filtered && !(this.orderBy.column === columna.name)"
                  class="bi bi-caret-down-fill"></i>
                <i *ngIf="columna.filtered" class="bi bi-funnel-fill"></i>
                <i [(ngModel)]="columna.asc" *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'asc'"
                  class="bi bi-arrow-down"></i>
                <i [(ngModel)]="columna.desc"
                  *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'desc'"
                  class="bi bi-arrow-up"></i>
              </button>

              <div class="dropdown-menu" style="width:250px;" id="dd-menu-{{columna.name}}">

                <a (click)="sort(columna.name, 'asc');" class="dropdown-item">
                  <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'asc') ? 'lightgreen' : 'white'}"
                    class="bi bi-sort-alpha-down"></i>
                  Ordenar de A a Z
                </a>
                <a (click)="sort(columna.name, 'desc');" class="dropdown-item">
                  <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'desc') ? 'lightgreen' : 'white'}"
                    class="bi bi-sort-alpha-down-alt"></i>
                  Ordenar de Z a A
                </a>
                <hr class="dropdown-divider">
                <a (click)="onDeleteFilterClick(columna.name)" class="dropdown-item">
                  <i [ngStyle]="{color:(columna.filtered) ? 'red' : 'black'}" class="bi bi-funnel-fill"></i> <i
                    style="padding:0px" class="bi bi-x"></i> Eliminar filtro de {{columna.label}}
                </a>
                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="true" (click)="onSpecialFiltersClick($event, columna.name)">
                  <i *ngIf="columna.optionFilter!=null && columna.optionFilter!='' && columna.optionFilter != this.filtroEspecialEquals"
                    style="color: palegreen" class="bi bi-check-square-fill"></i>

                  {{leyendaFiltrosEspeciales}}
                </a>
                <div id="filters-{{columna.name}}" class="d-none">
                  <a *ngFor="let nombre of this.opcionesFiltros; let indice=index"
                    (click)="mostrarModalFiltro(nombre, columna);" class="dropdown-item" data-toggle="modal"
                    data-target="#mdlFiltro">
                    <i id="imgFiltroEspecializado"
                      *ngIf="(nombre == this.filtroEspecializado && columna.optionFilter != null && columna.secondOptionFilter != '') || nombre === columna.optionFilter && columna.optionFilter != this.filtroEspecialEquals && columna.secondOptionFilter ==''"
                      class="bi bi-check-lg"></i>
                    {{nombre}} ...
                    <div *ngIf="this.indicesopcionesFiltros.includes(indice)" class="dropdown-divider"></div>
                  </a>
                </div>
                <div class="dropdown-divider"></div>
                <div style="height:300px; overflow:scroll; padding:5px">
                  <input class="form-control" placeholder="Buscar" type="text"
                    (input)="onFiltroCabecero($event, columna)" />
                  <input type="checkbox" id="chckAllFiltro{{columna.name}}" [(ngModel)]="columna.selectAll"
                    (change)="seleccionarAllFiltro(columna);" />
                  <label style="font-size:x-small" (click)="$event.stopPropagation()"
                    for="chckAllFiltro{{columna.name}}">
                    Seleccionar
                    todos
                  </label>
                  <div style="height:min-content" *ngFor="let dato of columna.filteredData; index as i">
                    <input type="checkbox" id={{columna.name+i}} [(ngModel)]="dato.checked" class="check chkdata" />
                    <label for="{{columna.name+i}}" style="font-size:xx-small;text-align:left"
                      (click)="$event.stopPropagation()">&nbsp;{{dato.value}}</label>
                  </div>
                </div>
                <div class="modal-footer" style="font-size:xx-small;">
                  <button id="btnCancelarFiltro" type="button" style="font-size:xx-small" class="btn btn-secondary"
                    data-dismiss="dropdown" (click)="onCancelarFiltroClick()">
                    Cancelar
                  </button>
                  <button type="button" class="btn btn-primary" style="font-size:xx-small" data-dismiss="dropdown"
                    (click)="filtrar(columna,false);">
                    Aceptar
                  </button>
                </div>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let muestreo of this.muestreos | paginate: { itemsPerPage:NoPage, currentPage: page, totalItems: totalItems}">
          <td class="td-center">
            <input type="checkbox" class="cursor-pointer" [(ngModel)]="muestreo.selected"
              (change)="onSelectClick(muestreo)" title="Seleccionar">
          </td>
          <td>{{muestreo.estatus}}</td>
          <td>NO</td>
          <td>{{(muestreo.evidencias.length > 1) ? "SI":"NO"}} </td>
          <td>{{muestreo.numeroEntrega}}</td>
          <td>{{muestreo.claveSitio}}</td>
          <td>-</td>
          <td>{{muestreo.claveMonitoreo}}</td>
          <td>{{muestreo.tipoSitio}}</td>
          <td>{{muestreo.nombreSitio}}</td>
          <td>{{muestreo.ocdl}}</td>
          <td>{{muestreo.tipoCuerpoAgua}}</td>
          <td>{{muestreo.subTipoCuerpoAgua}}</td>
          <td>{{muestreo.programaAnual}}</td>
          <td>{{muestreo.laboratorio}}</td>
          <td>{{muestreo.laboratorioSubrogado}}</td>
          <td>{{muestreo.fechaProgramada}}</td>
          <td>{{muestreo.fechaRealizacion}}</td>
          <td>{{muestreo.horaInicio}}</td>
          <td>{{muestreo.horaFin}}</td>
          <td>{{muestreo.fechaCarga}}</td>
          <td>{{muestreo.fechaEntregaMuestreo}}</td>
        </tr>
        <tr *ngIf="this.muestreos.length==0">
          <td class="td-center" colspan="22">No se encontraron registros</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-3">
      <pagination-controls (pageChange)="pageClic($event)" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>
    <div class="col-md-2">
      <p class="total-items">Registros por página: <span class="badge text-bg-primary">{{this.muestreos.length}}</span>
      </p>
    </div>
    <div class="col-md-3">
      <p class="total-items">Total de registros: <span class="badge text-bg-primary">{{this.totalItems}}</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 align-self-end">
      <button class="btn btn-secondary btn-sm" type="button" (click)="confirmarEliminacion()">
        <i class="bi bi-trash"></i>&nbsp;Eliminar monitoreos seleccionados
      </button>
      <button id="btnMdlConfirmacion" class="btn btn-primary element-hidden" type="button" data-toggle="modal"
        data-target="#mdlConfirmacion" title="Seleccionar"></button>
    </div>
  </div>
  <hr />

  <app-muestreos-totales></app-muestreos-totales>
  <app-autofiltro [columnaEspecial]="this.columnaFiltroEspecial"
    [opcionesFiltro]="this.opcionesFiltrosModal"></app-autofiltro>
  <app-notificacion-emergente [notificacion]="this.notificacion"
    (changed)="this.eliminarMuestreos();"></app-notificacion-emergente>

  <button id="btnMdlConfirmacionActualizacion" class="element-hidden" type="button" data-toggle="modal"
    data-target="#mdlConfirmacionActualizacion">
    Abrir modal
  </button>
  <div class="modal fade modal-dialog-centered" id="mdlConfirmacionActualizacion" data-bs-backdrop="static"
    data-toggle="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="staticBackdropLabel">Confirmar carga de resultados</h4>
        </div>
        <div class="modal-body">
          <p>
            Los resultados correspondientes al número de entrega <b>{{this.numeroEntrega}}</b> del año
            <b>{{this.anioOperacion}}</b>, ya han sido cargados previamente.
          </p>
          <p><b>¿Desea volver a cargarlos?</b> Esta acción sustituirá los valores de los resultados.</p>
        </div>
        <div class="modal-footer">
          <button id="btnCancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sustituirResultados()">
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>