<app-menu></app-menu>
<div class="container-fluid">
    <h1>Supervisión de muestreo.</h1>
    <hr class="red">
    <div class="message-container">
        <app-alert #mensajes id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta"
            [type]="this.tipoAlerta" (mostrando)="this.mostrarAlerta=$event"></app-alert>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="registrarSupervision()"><i
                    class="bi bi-pencil-square"></i>
                Registrar supervisión de muestreo</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="downloadFormatoSupervision()"><i
                    class="bi bi-cloud-download"></i>Formato de Supervisión de Muestreo</button>
        </div>
        <!-- <div class="col text-right">
            <button type="button" class="btn btn-primary" (click)="registrarSupervision()">
                <i class="bi bi-pencil-square"></i>
                Registrar supervisión de muestreo
            </button>
        </div>
        <div class=" col text-right">
            <button class="btn btn-secondary" type="button" title="Clic para descargar el formato de supervisión"
                (click)="downloadFormatoSupervision()">
                <i class="bi bi-cloud-download"></i>
                Formato de Supervisión de Muestreo
            </button>
        </div> -->
    </div>
    <div class="panel-busqueda">
        <form [formGroup]="supervisionBusquedaForm" (ngSubmit)="onBuscarClick()">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="oc-dl">OC/DL que realiza la supervisión:</label>
                        <select class="form-control" id="oc-dl" formControlName="ocdlRealiza"
                            (change)="onOrganismosDireccionesChange()">
                            <option value="0">Seleccione</option>
                            <option *ngFor="let ocdl of this.organismosDirecciones" [value]="ocdl.id">
                                {{ocdl.organismoCuencaDireccionLocal}}</option>
                        </select>
                    </div>
                    <div class=" form-group">
                        <label for="laboratorio">Laboratorio que realizó el muestreo:</label>
                        <select class="form-control" id="laboratorio" formControlName="laboratorio">
                            <option [value]="0">Seleccione</option>
                            <option *ngFor="let laboratorio of this.laboratorios" [value]="laboratorio.id">
                                {{laboratorio.nomenclatura}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label for="clave-sitio">Sitio:</label>
                    <select class="form-control" id="clave-sitio" formControlName="sitio">
                        <option value="0">seleccione</option>
                        <option *ngFor="let sitio of this.sitios" [value]="sitio.sitioId">
                            {{sitio.nombre}}
                        </option>
                    </select>
                    <!-- <div class="form-group">
                        <label for="sitio">Sitio:</label>
                        <input type="text" class="form-control" id="sitio" formControlName="sitio">
                    </div> -->
                    <div class="form-group">
                        <label for="claveMuestreo">Clave del muestreo:</label>
                        <input type="text" class="form-control" id="claveMuestreo" formControlName="claveMuestreo">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="fechaMuestreo">Fecha del muestreo:</label>
                        <input type="date" class="form-control" id="fechaMuestreo" formControlName="fechaMuestreo">
                    </div>
                    <div class="form-group">
                        <label for="tipo-cuerpo-agua">Tipo de cuerpo de agua:</label>
                        <select class="form-control" id="tipo-cuerpo-agua" formControlName="tipoCuerpoAgua">
                            <option value="0">Seleccione</option>
                            <option *ngFor="let tipoCuerpoAgua of this.tiposCuerpoAgua" [value]="tipoCuerpoAgua.id">
                                {{tipoCuerpoAgua.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="puntaje">Puntaje obtenido:</label>
                        <input type="number" class="form-control" id="puntaje" formControlName="puntaje">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mr-3">
                            <i class="bi bi-search"></i>&nbsp; Buscar</button>
                        <button type="submit" class="btn btn-secondary" (click)="onLimpiarClick()">
                            <i class="bi bi-x-circle"></i>&nbsp; Limpiar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="col-lg-2">OC/DL realiza la supervisión</th>
                        <th class="col-lg-2">Laboratorio que realizó muestreo</th>
                        <th class="col-lg-2">Sitio</th>
                        <th class="col-lg-2">Clave del muestreo</th>
                        <th class="col-lg-1">Fecha de muestreo</th>
                        <th class="col-lg-1">Tipo de cuerpo de agua</th>
                        <th class="col-lg-1">Puntaje obtenido</th>
                        <th class="col-lg-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let supervision of this.supervisiones | paginate: { itemsPerPage:30, currentPage: page }">
                        <td>{{supervision.ocdlRealiza}}</td>
                        <td>{{supervision.laboratorio}}</td>
                        <td>{{supervision.nombreSitio}}</td>
                        <td>{{supervision.claveMuestreo}}</td>
                        <td>{{supervision.fechaMuestreo}}</td>
                        <td>{{supervision.tipoCuerpoAgua}}</td>
                        <td>{{supervision.puntajeObtenido}}</td>
                        <td>
                            <button type="button" class="btn-action btn-primary-action" title="Editar">
                                <i class="bi bi-pencil-square icon-action" (click)="onEditClick(supervision.id)"></i>
                            </button>
                            <!-- <div class="btn btn-group"> -->
                            <button type="button" class="btn-action btn-info-action" title="Ver">
                                <i class="bi bi-eye" (click)="onViewClick(supervision.id)"></i>
                            </button>
                            <button type="button" class="btn-action btn-danger-action" title="Eliminar">
                                <i class="bi bi-trash" (click)="onDeleteClick(supervision.id)"></i>
                            </button>

                            <!-- </div> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-group">
        <pagination-controls (pageChange)="page= $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>
<button id="btn-confirm-modal" type="button" class="btn-hidden" data-toggle="modal" data-target="#confirmModal">
    Confirmar eliminación
</button>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModal">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta acción eliminará de forma permanente el registro, y los archivos que hayan sido cargados
                    (archivo de supervisión y evidencias). </p>
                <p>¿Está seguro de continuar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="onConfirmDeleteFileClick()">Eliminar</button>
            </div>
        </div>
    </div>
</div>