<app-menu></app-menu>
<div class="container-fluid">
    <h3>Supervisión de muestreo.</h3>
    <hr class="red">
    <div class="message-container">
        <app-alert #mensajes id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta"
            [type]="this.tipoAlerta" (mostrando)="this.mostrarAlerta=$event"></app-alert>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>
                Registrar supervisión de muestreo
            </button>
        </div>
        <div class=" col text-right">
            <button class="btn btn-secondary" type="button" title="Clic para descargar el formato de supervisión">
                <i class="bi bi-cloud-download"></i>
                Formato de Supervisión de Muestreo
            </button>
        </div>
    </div>
    <form [formGroup]="supervisionBusquedaForm" (ngSubmit)="buscarSupervision()">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="ocdl">OC/DL que realiza la supervisión:</label>
                    <input type="text" class="form-control" id="ocdl" formControlName="ocdl">
                </div>
                <div class="form-group">
                    <label for="laboratorio">Laboratorio que realizó el muestro:</label>
                    <input type="text" class="form-control" id="laboratorio" formControlName="laboratorio">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="sitio">Sitio:</label>
                    <input type="text" class="form-control" id="sitio" formControlName="sitio">
                </div>
                <div class="form-group">
                    <label for="claveMuestreo">Clave del muestreo:</label>
                    <input type="text" class="form-control" id="claveMuestreo" formControlName="claveMuestreo">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="fechaMuestreo">Fecha del muestreo:</label>
                    <input type="text" class="form-control" id="fechaMuestreo" formControlName="fechaMuestreo">
                </div>
                <div class="form-group">
                    <label for="input6">Tipo de cuerpo de agua:</label>
                    <input type="text" class="form-control" id="input6" formControlName="tipoCuerpoAgua">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="puntaje">Puntaje obtenido:</label>
                    <input type="text" class="form-control" id="puntaje" formControlName="puntaje">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mr-3">
                        <i class="bi bi-search"></i>&nbsp; Buscar</button>
                    <button type="submit" class="btn btn-secondary" (click)="this.supervisionBusquedaForm.reset()">
                        <i class="bi bi-x-circle"></i>&nbsp; Limpiar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>OC/DL realiza la supervisión</th>
                        <th>Laboratorio que realizó muestreo</th>
                        <th>Sitio</th>
                        <th>Clave del muestreo</th>
                        <th>Fecha de muestreo</th>
                        <th>Tipo de cuerpo de agua</th>
                        <th>Puntaje obtenido</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr
                        *ngFor="let muestreo of this.muestreosFiltrados | paginate: { itemsPerPage:30, currentPage: page }">
                        <td class="checkBox-center">
                            <input type="checkbox" [(ngModel)]="muestreo.isChecked" (change)="seleccionar()">
                        </td>
                        <td>{{muestreo.numeroEntrega}}</td>
                        <td>-</td>
                        <td>{{muestreo.claveSitio}}</td>
                        <td>{{muestreo.claveMonitoreo}}</td>
                        <td>{{muestreo.nombreSitio}}</td>
                        <td>{{muestreo.ocdl}}</td>
                        <td>{{muestreo.cuerpoAgua}}</td>
                        <td>-</td>
                        <td>{{muestreo.tipoCuerpoAgua}}</td>
                        <td>{{muestreo.tipoSitio}}</td>
                        <td>{{muestreo.laboratorio}}</td>
                        <td>-</td>
                        <td>{{muestreo.fechaProgramada}}</td>
                        <td>{{muestreo.fechaRealizacion}}</td>
                        <td>{{muestreo.programaAnual}}</td>
                        <td>{{muestreo.horaInicio}}</td>
                        <td>{{muestreo.horaFin}}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-group">
        <pagination-controls (pageChange)="page= $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>