<router-outlet name="menu"></router-outlet>
<div class="container">
  <h3>Administración de Usuarios</h3>
  <hr class="red" />
  <div>


    <div class="form-group row">
      <label for="Nombre" class="col-m-2 col-form-label">Nombre:</label>
      <div class="col-lg-3">
        <ng-autocomplete [data]="Usuarios"
                         [searchKeyword]="keyword"
                         (inputChanged)='onChangeSearch($event)'
                         (selected)='selectEvent($event)'
                         [itemTemplate]="itemTemplate"
                         placeholder="Ingresar nombre">
        </ng-autocomplete>
      </div>
      <label for="Perfil" class="col-m-2 col-form-label">Perfil:</label>
      <div class="col-lg-3">
        <ng-autocomplete [data]="perfiles"
                         [searchKeyword]="keywordP"
                         (inputChanged)='onChangeSearch1($event)'
                         (selected)='selectEvent1($event)'
                        [itemTemplate]="perfilTemplate"
                         placeholder="Ingresar Perfil">
        </ng-autocomplete>
      </div>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.nombre"> <input type="checkbox" />   </a>
      </ng-template>   

      <ng-template #perfilTemplate let-item>
        <a [innerHTML]="item.nombre"></a>
      </ng-template>

      <!--<ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>-->
    </div>
    <br />



    <br />
    <!--ALERTAS  DE LAS ACCIONES AGREGAR, EDITAR,CAMBIO DE ESTADO-->
    <div class="alert alert-success" role="alert" id="add-success">
      <strong>¡Felicidades!</strong>
      Usuario registrado exitosamente
    </div>
    <div class="alert alert-success" role="alert" id="update-success">
      <strong>¡Felicidades!</strong>
      Usuario actualizado exitosmente
    </div>
    <div class="alert alert-success" role="alert" id="change-success">
      <strong>¡Felicidades!</strong>
      Se a cambiado el estatus del usuario
    </div>
    <div class="alert alert-danger" role="alert" id="error-danger">
      <strong>¡Atención!</strong>
      El username ya se encuentra registrado
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" title="Agregar" data-target="#modalregistro" (click)="RegistrarUsuario()">
      <i class="bi bi-person-plus-fill pull-right" data-toggle="modal" data-target="#modalregistro"></i>
    </button>
    <table id="tablaUsuarios" class="table table-striped table-bordered dataTable" style="padding-top:15px;">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Correo</th>
          <th>Perfil</th>
          <th>Estatus</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users of Usuarios2 | paginate: { itemsPerPage:10, currentPage: page };let indice=index  ">
          <td>{{indice+1}}</td>
          <td>{{users.nombre}}</td>
          <td>{{users.userName}}</td>
          <td>{{users.email}}</td>
          <td>{{users.nombrePerfil}}</td>
          <td *ngIf="users.activo==true; else falso">Activo</td>
          <td>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" title="Editar" data-target="#modalregistro" (click)="UpdateUser(users)">
              <i class="bi bi-file-person"></i>
            </button>&nbsp;
            <button type="button" class="btn btn-secondary btn-xs" data-toggle="modal" title="Estatus" data-target="#modalstatus" (click)="ChangeStatus(users)">
              <i class="bi bi-power" style="font-weight: 500; " [ngStyle]="{'color' : users.activo == true ? 'green': 'red' }"></i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>

    <!--Template para el cambio de estado-->
    <ng-template #falso><td>Inactivo</td></ng-template>

    <!--Controlador de la paginacion-->
    <pagination-controls (pageChange)="page= $event"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"></pagination-controls>
  </div>

    <!--MODAL AGREGAR EDITAR USUARIO-->
    <div class="modal fade modal-dialog-centered" id="modalregistro" data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title2">{{modalTitle}}</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="registro" class="form-horizontal" style="padding-top:15px;">

              <div class="form-group">
                <label class="col-sm-3 control-label">Perfil:</label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="perfil">
                    <option [ngValue]="null">--Seleccione--</option>
                    <option *ngFor="let perfil of perfiles" [ngValue]="perfil.id">
                      {{perfil.nombre}}
                    </option>
                  </select>
                  <span class="text-danger ml-2 " *ngIf="registro.get('perfil')?.hasError('required') && registro.get('perfil')?.touched">
                    Campo <strong>requerido</strong>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Nombre del usuario:</label>
                <div class="col-sm-9">
                  <input class="form-control" [attr.disabled]="editar? true : null" placeholder="Nombre del usuario" onkeypress="return ValidarCaracteres(event);" formControlName="usuario" />
                  <span class="text-danger ml-2 " *ngIf="registro.get('usuario')?.hasError('required') && registro.get('usuario')?.touched ">
                    Campo <strong>requerido</strong>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Usuario de red:</label>
                <div class="col-sm-9">
                  <input class="form-control" [attr.disabled]="editar? true : null " placeholder="Usuario de red" onkeypress="return ValidarCaracteres(event);" formControlName="userRed" />
                  <span class="text-danger ml-2 " *ngIf="registro.get('userRed')?.hasError('required') && registro.get('userRed')?.touched ">
                    Campo <strong>requerido</strong>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Correo electrónico:</label>
                <div class="col-sm-9">
                  <input class="form-control" [attr.disabled]="editar? true : null" placeholder="Correo electrónico" type="email" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email" #email />
                  <span class="text-danger ml-2 " *ngIf="registro.get('email')?.hasError('required') && registro.get('email')?.touched">
                    Campo <strong>requerido</strong>
                  </span>

                  <span class="text-danger ml-2 " *ngIf="registro.get('email')?.invalid && registro.get('email')?.touched">
                    Formato <strong>incorrecto</strong>
                  </span>

                </div>
              </div>

              <div class="form-group" *ngIf="registro.get('perfil')?.value ==8">
                <label class="col-sm-3 control-label">Organismo de Cuenca:</label>
                <div class="col-sm-9">
                  <select class="form-control" *ngIf="registro.get('perfil')?.value ==8" formControlName="organismoCuenca">
                    <option [ngValue]="null">--Seleccione--</option>
                    <option *ngFor="let cuenca of organismoCuenca" [ngValue]="cuenca.id">
                      {{cuenca.descripcion}}
                    </option>
                  </select>
                  <span class="text-danger ml-2 " *ngIf="registro.get('organismoCuenca')?.hasError('required') && registro.get('organismoCuenca')?.touched">
                    Campo <strong>requerido</strong>
                  </span>

                </div>
              </div>
              <div class="form-group" *ngIf="registro.get('perfil')?.value ==9 ">
                <label class="col-sm-3 control-label">Dirección Local:</label>
                <div class="col-sm-9">
                  <select class="form-control" *ngIf="registro.get('perfil')?.value ==9 " formControlName="direccionL">
                    <option [ngValue]="null">--Seleccione--</option>
                    <option *ngFor="let direccion of direccionL" [ngValue]="direccion.id">
                      {{direccion.descripcion}}
                    </option>
                  </select>
                  <span class="text-danger ml-2 " *ngIf="registro.get('direccionL')?.hasError('required') && registro.get('direccionL')?.touched">
                    Campo <strong>requerido</strong>
                  </span>
                </div>
              </div>

              <button (click)="Cancelar()" class="btn btn-secondary ml-2" data-dismiss="modal" type="button">Cancelar</button>
              <button (click)="AddUser()" data-dismiss="modal" class="btn btn-primary pull-right ml-2" *ngIf="editar==false" [disabled]="registro.invalid" type="button">Registrar</button>
              <button (click)="Update()" data-dismiss="modal" class="btn btn-primary pull-right ml-2" *ngIf="editar==true" [disabled]="registro.invalid" type="button">Actualizar</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal Cambio Status-->
    <div class="modal fade modal-dialog-centered" id="modalstatus" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fs-5" id="staticBackdropLabel">{{modalTitle}}</h4>
          </div>
          <div class="modal-body">
            <p>¿Quiere cambiar el estado del perfil?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button (click)="Change()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>



    <div class="container">

    </div>
