<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="container-fluid">
  <h1 class="row col">Consulta registro original</h1>
  <hr class="red">
  <div class="message-container">
    <app-notification></app-notification>
  </div>

  <div class="clearfix">
    <div class="float-lefth col-md-4">
      <app-busqueda-columna [esHistorialValor]="this.esHistorial" (mostrandocabecero)="this.cabeceroSeleccionado=$event"
        (mostrandoesfiltrofoco)="this.esfiltrofoco=$event" [headerList]="this.headers">
      </app-busqueda-columna>
    </div>
    <div class="float-right">
      <button class="btn btn-secondary btn-sm mr-1" type="button" (click)="exportarResultados()">
        <i class="bi bi-cloud-download"></i>
        Descargar informaci&oacute;n
      </button>
      <button class="btn btn-secondary btn-sm" type="button" (click)="onLimpiarFiltrosClick()">
        <i class="bi bi-funnel"></i>
        Limpiar filtros
      </button>
    </div>
  </div>
  <app-historial></app-historial>
  <div class="alert alert-secondary" role="alert"
    *ngIf="this.selectAllOption && !this.allSelected && this.totalItems > this.NoPage ">
    Los {{this.muestreos.length}} registros de esta página están seleccionados. <button type="button"
      (click)="onSelectAllPagesClick()" class="btn btn-link">
      Seleccionar los {{this.totalItems}} registros
    </button>
  </div>
  <div class="alert alert-secondary" role="alert" *ngIf="this.allSelected">
    Los {{this.totalItems}} registros están seleccionados.
    <button type="button" class="btn btn-link" (click)="onUnselectAllClick()">
      Anular la seleccion
    </button>
  </div>

  <div class="dvTable">
    <table class="table-bordered">
      <thead class="thead-sticky" style="z-index: 1;">
        <tr>
          <th class="td-center no-border-bottom sticky-col"
            [ngStyle]="{'left.px':0, 'width.px': this.firstColumnWidth, 'min-width.px': this.firstColumnWidth, 'max-width.px': this.firstColumnWidth}">
            &nbsp;SELECCIONAR&nbsp;
          </th>
          <ng-container *ngFor="let columna of this.columns let i = index;">
            <div *ngIf="columna.pinned then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <th id="{{columna.name}}" class="no-border-bottom sticky-col"
                [ngStyle]="{ 'backgroundColor': (esfiltrofoco == this.columna.name && !this.cabeceroSeleccionado) || (this.columna.label.indexOf(esfiltrofoco) != -1 && this.esfiltrofoco != '' && !this.cabeceroSeleccionado )  ? 'lightblue' : ( (cabeceroSeleccionado && esfiltrofoco == this.columna.name ) ? 'yellow' : '#E9ECEF'), 'left.px':columna.startAt, 'width.px':columna.width}">
                {{columna.label}}
              </th>
            </ng-template>
            <ng-template #elseBlock>
              <th columnResize id="{{columna.name}}" class="no-border-bottom th-resize" [ngStyle]=" { 'backgroundColor' : (esfiltrofoco==this.columna.name && !this.cabeceroSeleccionado) ||
              (this.columna.label.indexOf(esfiltrofoco) !=-1 && this.esfiltrofoco !='' && !this.cabeceroSeleccionado )
              ? 'lightblue' : ( (cabeceroSeleccionado && esfiltrofoco==this.columna.name ) ? 'yellow' : '#E9ECEF' )
              }">
                {{columna.label}}
              </th>
            </ng-template>
          </ng-container>
        </tr>
        <tr>
          <th class="no-border-top td-center sticky-col"
            [ngStyle]="{'left.px':0, 'width.px': this.firstColumnWidth, 'min-width.px': this.firstColumnWidth, 'max-width.px': this.firstColumnWidth}">
            <input class="cursor-pointer" type="checkbox" id="chckAll" [(ngModel)]="this.selectedPage"
              (change)="onSelectPageClick(this.muestreos,this.muestreosSeleccionados);"
              title="Selecciona la página actual" />
          </th>
          <ng-container *ngFor="let columna of this.columns let i = index">
            <th [ngClass]="{'pinned-no-border-top sticky-col': columna.pinned, 'no-border-top': !columna.pinned}"
              id="filter-{{columna.name}}"
              [ngStyle]="{'left.px': columna.pinned?columna.startAt:'', 'width.px':columna.pinned?columna.width:'', 'max-width.px':columna.pinned?columna.width:'', 'min-width.px':columna.pinned?columna.width:''}">
              <div class="dropdown" style="width:max-content;" id="dd-{{columna.name}}"
                [ngStyle]="{'position': columna.pinned?'relative':'static'}">
                <button id="dLabel" style="border:none; text-align:right" data-toggle="dropdown" aria-haspopup="true"
                  title="Filtros" aria-expanded="false" (click)="onFilterIconClick(columna)">
                  <i *ngIf="!columna.filtered && !(this.orderBy.column === columna.name)"
                    class="bi bi-caret-down-fill"></i>
                  <i *ngIf="columna.filtered" class="bi bi-funnel-fill"></i>
                  <i [(ngModel)]="columna.asc"
                    *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'asc'"
                    class="bi bi-arrow-down"></i>
                  <i [(ngModel)]="columna.desc"
                    *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'desc'"
                    class="bi bi-arrow-up"></i>
                </button>
                <div class="dropdown-menu" style="width:250px;" id="dd-menu-{{columna.name}}">
                  <a (click)="sort(columna.name, 'asc');" class="dropdown-item">
                    <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'asc') ? 'lightgreen' : 'white'}"
                      class="bi bi-sort-alpha-down"></i>
                    Ordenar de A a Z
                  </a>
                  <a (click)="sort(columna.name, 'desc');" class="dropdown-item">
                    <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'desc') ? 'lightgreen' : 'white'}"
                      class="bi bi-sort-alpha-down-alt"></i>
                    Ordenar de Z a A
                  </a>
                  <hr class="dropdown-divider">
                  <a (click)="onDeleteFilterClick(columna.name)" class="dropdown-item">
                    <i [ngStyle]="{color:(columna.filtered) ? 'red' : 'black'}" class="bi bi-funnel-fill"></i> <i
                      style="padding:0px" class="bi bi-x"></i> Eliminar filtro de {{columna.label}}
                  </a>
                  <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true" (click)="onSpecialFiltersClick($event, columna.name)">
                    <i *ngIf="columna.optionFilter!=null && columna.optionFilter!='' && columna.optionFilter != this.filtroEspecialEquals"
                      style="color: palegreen" class="bi bi-check-square-fill"></i>
                    {{leyendaFiltrosEspeciales}}
                  </a>
                  <div id="filters-{{columna.name}}" class="d-none">
                    <a *ngFor="let nombre of this.opcionesFiltros; let indice=index"
                      (click)="mostrarModalFiltro(nombre, columna);" class="dropdown-item" data-toggle="modal"
                      data-target="#mdlFiltro">
                      <i id="imgFiltroEspecializado"
                        *ngIf="(nombre == this.filtroEspecializado && columna.optionFilter != null && columna.secondOptionFilter != '') || nombre === columna.optionFilter && columna.optionFilter != this.filtroEspecialEquals && columna.secondOptionFilter ==''"
                        class="bi bi-check-lg"></i>
                      {{nombre}} ...
                      <div *ngIf="this.indicesopcionesFiltros.includes(indice)" class="dropdown-divider"></div>
                    </a>
                  </div>
                  <div class="dropdown-divider"></div>
                  <div *ngIf="this.showFilterSpinner then thenBlockFilter else elseBlockFilter"></div>
                  <ng-template #thenBlockFilter>
                    <div class="d-flex justify-content-center">
                      <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #elseBlockFilter>
                    <div style="height:300px; overflow:scroll; padding:5px">
                      <input class="form-control" placeholder="Buscar" type="text"
                        (input)="onFiltroCabecero($event, columna)" />
                      <input type="checkbox" id="chckAllFiltro{{columna.name}}" [(ngModel)]="columna.selectAll"
                        (change)="seleccionarAllFiltro(columna);" />
                      <label style="font-size:x-small" (click)="$event.stopPropagation()"
                        for="chckAllFiltro{{columna.name}}">
                        Seleccionar
                        todos
                      </label>
                      <div style="height:min-content" *ngFor="let dato of columna.filteredData; index as i">
                        <input type="checkbox" id={{columna.name+i}} [(ngModel)]="dato.checked" class="check chkdata" />
                        <label for="{{columna.name+i}}" style="font-size:xx-small;text-align:left"
                          (click)="$event.stopPropagation()">&nbsp;{{dato.value}}</label>
                      </div>
                    </div>
                  </ng-template>
                  <div class="modal-footer" style="font-size:xx-small;">
                    <button id="btnCancelarFiltro" type="button" style="font-size:xx-small" class="btn btn-secondary"
                      data-dismiss="dropdown" (click)="onCancelarFiltroClick()">
                      Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" style="font-size:xx-small" data-dismiss="dropdown"
                      (click)="filtrar(columna,false);">
                      Aceptar
                    </button>
                  </div>
                </div>
              </div>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let muestreo of this.muestreos | paginate: { itemsPerPage:NoPage, currentPage: page, totalItems: totalItems}"
          style="z-index: 0;">
          <td style=" text-align:center"
            [ngStyle]="{'left.px':0, 'width.px': this.firstColumnWidth, 'min-width.px': this.firstColumnWidth, 'max-width.px': this.firstColumnWidth}"
            class="checkBox-center sticky-td">
            <input type="checkbox" [(ngModel)]="muestreo.selected" (change)="onSelectClick(muestreo)"
              title="Seleccionar">
          </td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[0].startAt, 'width.px':this.columns[0].width, 'max-width.px':this.columns[0].width, 'min-width.px':this.columns[0].width}">
            {{muestreo.estatus}}</td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[1].startAt, 'width.px':this.columns[1].width, 'max-width.px':this.columns[1].width, 'min-width.px':this.columns[1].width}">
            {{muestreo.anio}}</td>
          <td *ngIf="this.esVisibleNumEntrega" class="checkBox-center sticky-td"
              [ngStyle]="{'left.px': this.columns[2].startAt, 'width.px':this.columns[2].width, 'max-width.px':this.columns[2].width, 'min-width.px':this.columns[2].width}">
            {{muestreo.numeroCarga}}
          </td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[3].startAt, 'width.px':this.columns[3].width, 'max-width.px':this.columns[3].width, 'min-width.px':this.columns[3].width}">
            NO
          </td>
          <td class="checkBox-center sticky-td sticky-td"
            [ngStyle]="{'left.px': this.columns[4].startAt, 'width.px':this.columns[4].width, 'max-width.px':this.columns[4].width, 'min-width.px':this.columns[4].width}">
            {{muestreo.claveSitioOriginal}}
          </td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[5].startAt, 'width.px':this.columns[5].width, 'max-width.px':this.columns[5].width, 'min-width.px':this.columns[5].width}">
            {{muestreo.claveSitio}}
          </td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[6].startAt, 'width.px':this.columns[6].width, 'max-width.px':this.columns[6].width, 'min-width.px':this.columns[6].width}">
            {{muestreo.claveMonitoreo}}
          </td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[7].startAt, 'width.px':this.columns[7].width, 'max-width.px':this.columns[7].width, 'min-width.px':this.columns[7].width}">
            {{muestreo.fechaRealizacion}}
          </td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[8].startAt, 'width.px':this.columns[8].width, 'max-width.px':this.columns[8].width, 'min-width.px':this.columns[8].width}">
            {{muestreo.laboratorio}}
          </td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[9].startAt, 'width.px':this.columns[9].width, 'max-width.px':this.columns[9].width, 'min-width.px':this.columns[9].width}">
            {{muestreo.tipoCuerpoAgua}}
          </td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[10].startAt, 'width.px':this.columns[10].width, 'max-width.px':this.columns[10].width, 'min-width.px':this.columns[10].width}">
            {{muestreo.tipoHomologado}}
          </td>
          <td class="checkBox-center sticky-td"
            [ngStyle]="{'left.px': this.columns[11].startAt, 'width.px':this.columns[11].width, 'max-width.px':this.columns[11].width, 'min-width.px':this.columns[11].width}"
            style="word-break: break-all;">
            {{muestreo.tipoSitio}}
          </td>
          <ng-container *ngFor="let parametro of parametrosTotales">
            <td style="position: relative; z-index: -1;">
              {{getValueParam(parametro.claveParametro,muestreo.parametros)}}
            </td>
          </ng-container>
        </tr>
        <tr *ngIf="this.muestreos.length==0">
          <td class="td-center" colspan="650">No se encontraron registros</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-3">
      <pagination-controls (pageChange)="onPageClick($event)" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>
    <div class="col-md-2">
      <p class="total-items">Registros por página: <span class="badge text-bg-primary">{{this.muestreos.length}}</span>
      </p>
    </div>
    <div class="col-md-3">
      <p class="total-items">Total de registros: <span class="badge text-bg-primary">{{this.totalItems}}</span></p>
    </div>
  </div>
</div>
<app-autofiltro [columnaEspecial]="this.columnaFiltroEspecial"
  [opcionesFiltro]="this.opcionesFiltrosModal"></app-autofiltro>
