.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: rgb(233, 236, 239);
  z-index: 1;
}

.sticky-td {
  position: sticky;
  background-color: white;
}

.size-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.pinned-no-border-top {
  border-top: 0px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table tbody td {
  white-space: wrap;
  word-break: break-word;
}
