<router-outlet name="menu"></router-outlet>
<div class="container-fluid">
  <h1>Resumen Revisión Resultados</h1>
  <hr class="red">
  <div class="message-container">
    <app-alert id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta" [type]="this.tipoAlerta"
      (mostrando)="this.mostrarAlerta=$event"></app-alert>
  </div>
  <div class="clearfix">
    <div class="float-right">
      <button class="btn btn-secondary mr-1" type="button" (click)="onDownload()">
        <i class="bi bi-cloud-download"></i> Descargar informaci&oacute;n
      </button>
      <button class="btn btn-secondary" type="button" (click)="this.limpiarFiltrosn()">
        <i class="bi bi-funnel"></i>
        Limpiar filtros
      </button>
    </div>
  </div>
  <div class="table-responsive dvTable">
    <table id="TablaDatos" class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th class="checkBox-center">
            <label for="chckAll">SELECCIONAR TODOS</label>
            <input type="checkbox" id="chckAll" [(ngModel)]="this.seleccionarTodosChck"
              (change)="seleccionarAll(this.resultadosFiltradosn); resumenDatos();" />
          </th>
          <th *ngFor="let columna of columnas">
            {{columna.etiqueta}}
            <ng-autocomplete #filtros [data]="columna.filtro.values" [searchKeyword]="this.keyword"
              (selected)="columna.filtro.selectedValue = $event; filtrarn();"
              (inputCleared)="columna.filtro.selectedValue = 'Seleccione'; filtrarn()" [itemTemplate]="itemTemplate"
              placeholder="seleccione">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item"></a>
            </ng-template>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datos of this.resultadosFiltradosn | paginate: {itemsPerPage:NoPage, currentPage:page }">
          <td class="checkBox-center">
            <input type="checkbox" [(ngModel)]="datos.isChecked" (change)="changeSelection()" title="seleccionar">
          <td>{{datos.noEntregaOCDL == '0' ? '' :
            this.numberService.getOrdinalYear(datos.noEntregaOCDL) }} </td>
          <td>{{datos.claveUnica}}</td>
          <td>{{datos.claveSitio}}</td>
          <td>{{datos.claveMonitoreo}}</td>
          <td>{{datos.nombreSitio}}</td>
          <td>{{datos.claveParametro}}</td>
          <td>{{datos.laboratorio}}</td>
          <td>{{datos.tipoCuerpoAgua}}</td>
          <td>{{datos.tipoCuerpoAguaOriginal}}</td>
          <td>{{datos.resultado}}</td>
          <td>{{datos.tipoAprobacion}}</td>
          <td>{{datos.esCorrectoResultado}}</td>
          <td>{{datos.observaciones}}</td>
          <td>{{datos.fechaLimiteRevision}}</td>
          <td>{{datos.nombreUsuario}}</td>
          <td>{{datos.estatusResultado}}</td>
        </tr>
        <tr *ngIf="this.resultadosFiltradosn.length==0">
          <td class="td-center" colspan="18">
            No se encontraron registros
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="page= $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  <div class="d-flex justify-content-center">
    <div class="resumen ">
      <table class="table table-striped">
        <caption class="caption">RESUMEN TOTAL</caption>
        <thead>
          <tr>
            <th style="text-align:center">N° RESULTADOS APROBADOS</th>
            <th style="text-align:center">N° RESULTADOS RECHAZADOS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:center">{{resultadosAprobados}}</td>
            <td style="text-align:center">{{resultadosRechazados}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="resumen">
      <table class="table table-striped">
        <caption class="caption">RESUMEN POR PARÁMETRO</caption>
        <thead>
          <tr>
            <th>CLAVE PARÁMETRO</th>
            <th>N° RESULTADOS APROBADOS</th>
            <th>N° RESULTADOS RECHAZADOS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parametro of this.resumenParametros">
            <td>{{parametro.nombre}}</td>
            <td style="text-align:center">{{parametro.correctos}}</td>
            <td style="text-align:center">{{parametro.incorrectos}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>