<router-outlet name="menu"></router-outlet>
<form>
  <div class="form-group  d-flex justify-content-center">
    <app-loading *ngIf="loading"></app-loading>
  </div>
</form>
<div class="container-fluid">
  <h1>Resumen de la validación de reglas por resultado</h1>
  <hr class="red">
  <div class="message-container">
    <app-alert id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta" [type]="this.tipoAlerta"
      (mostrando)="this.mostrarAlerta=$event"></app-alert>
  </div>
  <div class="clearfix">
    <div class="float-right">
      <button class="btn btn-secondary mr-1" type="button" (click)="onDownload()">
        <i class="bi bi-cloud-download"></i> Descargar informaci&oacute;n
      </button>
      <button class="btn btn-secondary" type="button" (click)="this.limpiarFiltrosn()">
        <i class="bi bi-funnel"></i>
        Limpiar filtros
      </button>
    </div>
  </div>
  <div class="table-responsive dvTable">
    <table width="10000px" style="font-size:x-small" class="table-responsive table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th *ngFor="let columna of columnas">
            {{columna.etiqueta}}
            <ng-autocomplete #filtros [data]="columna.filtro.values" [searchKeyword]="this.keyword"
              (selected)="columna.filtro.selectedValue = $event; filtrarn();"
              (inputCleared)="columna.filtro.selectedValue = 'Seleccione'; filtrarn()" [itemTemplate]="itemTemplate"
              placeholder="seleccione">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item"></a>
            </ng-template>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let dato of this.resultadosFiltradosn| paginate: { itemsPerPage:NoPage, currentPage: page }; let indice=index">
          <td>{{dato.numeroEntrega}}</td>
          <td>{{dato.claveUnica}}</td>
          <td>{{dato.claveMonitoreo}}</td>
          <td>{{dato.claveSitio}}</td>
          <td>{{dato.nombreSitio}}</td>
          <td>{{dato.fechaProgramada}}</td>
          <td>{{dato.fechaRealizacion}}</td>
          <td>{{dato.horaInicio}}</td>
          <td>{{dato.horaFin}}</td>
          <td>{{dato.zonaEstrategica}}</td>
          <td>{{dato.tipoCuerpoAgua}}</td>
          <td>{{dato.subTipoCuerpoAgua}}</td>
          <td>{{dato.laboratorio}}</td>
          <td>{{dato.laboratorioRealizoMuestreo}}</td>
          <td>{{dato.laboratorioSubrogado}}</td>
          <td>{{dato.grupoParametro}}</td>
          <td>{{dato.subGrupo}}</td>
          <td>{{dato.claveParametro}}</td>
          <td>{{dato.parametro}}</td>
          <td>{{dato.unidadMedida}}</td>
          <td>{{dato.resultado}}</td>
          <td>{{dato.nuevoResultadoReplica}}</td>
          <td>{{dato.programaAnual}}</td>
          <td>{{dato.idResultadoLaboratorio}}</td>
          <td>{{dato.fechaEntrega}}</td>
          <td>{{dato.replica}}</td>
          <td>{{dato.cambioResultado}}</td>
        </tr>
        <tr class="td-center">
          <td colspan="27">
            <div *ngIf="this.resultadosFiltradosn.length==0">
              No se encontraron registros
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)=" page=$event" previousLabel="Anterior" nextLabel="Siguiente">
  </pagination-controls>
</div>
