<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="container-fluid">
  <h1>Administración Límites laboratorio</h1>
  <div class="message-container">
    <app-notification></app-notification>
  </div>
  <div class="clearfix" style="margin-bottom: 1%;">
    <div class="float-right">
      <button class="btn btn-primary btn-sm mr-1" (click)="this.modalTitle='Registro límite laboratorio'" type="button" data-toggle="modal" data-target="#modalregistro">
        <i class="bi bi-plus-lg"></i> Nuevo límite laboratorio
      </button>

      <input type="file" class="element-hidden" (change)="cargarArchivo($event)" accept=".xls, .xlsx"
             title="Seleccionar archivo" #inputExcelMonitoreos>
      <button type="button" class="btn btn-primary btn-sm mr-1" (click)="inputExcelMonitoreos.click()"
              title="Seleccionar archivo">
        <i class="bi bi-filetype-xlsx"></i>
        Agregar desde archivo
      </button>

      <button class="btn btn-secondary btn-sm" type="button" (click)="onLimpiarFiltrosClick()">
        <i class="bi bi-funnel"></i>
        Limpiar filtros
      </button>
    </div>
  </div>
  <app-historial></app-historial>
  <div class="dvTable">
    <table class="table-bordered table-hover" style="width:100%">
      <thead class="thead-sticky">
        <tr>
          <th columnResize scope="col" *ngFor="let columna of this.columns let i = index"
              id="{{columna.name}}" class="no-border-bottom th-resize"
              [ngStyle]="{ 'backgroundColor': (esfiltrofoco == this.columna.name && !this.cabeceroSeleccionado) || (this.columna.label.indexOf(esfiltrofoco) != -1 && this.esfiltrofoco != '' && !this.cabeceroSeleccionado )  ? 'lightblue' : ( (cabeceroSeleccionado && esfiltrofoco == this.columna.name ) ? 'yellow' : '#E9ECEF'), 'z-index': '0'}">
            {{columna.label}}
          </th>
          <th columnResize class="td-center no-border-bottom th-resize">
            ACCIONES
          </th>
        </tr>
        <tr>
          <th class="no-border-top" *ngFor="let columna of this.columns let i = index" id="filter-{{columna.name}}">
            <div class="dropdown" style="width:max-content" id="dd-{{columna.name}}">
              <button id="dLabel" style="border:none; text-align:right" data-toggle="dropdown" aria-haspopup="true"
                      title="Filtros" aria-expanded="false" (click)="onFilterIconClick(columna)">
                <i *ngIf="!columna.filtered && !(this.orderBy.column === columna.name)"
                   class="bi bi-caret-down-fill"></i>
                <i *ngIf="columna.filtered" class="bi bi-funnel-fill"></i>
                <i [(ngModel)]="columna.asc" *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'asc'"
                   class="bi bi-arrow-down"></i>
                <i [(ngModel)]="columna.desc"
                   *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'desc'"
                   class="bi bi-arrow-up"></i>
              </button>

              <div class="dropdown-menu" style="width:250px;" id="dd-menu-{{columna.name}}">

                <a (click)="sort(columna.name, 'asc');" class="dropdown-item">
                  <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'asc') ? 'lightgreen' : 'white'}"
                     class="bi bi-sort-alpha-down"></i>
                  Ordenar de A a Z
                </a>
                <a (click)="sort(columna.name, 'desc');" class="dropdown-item">
                  <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'desc') ? 'lightgreen' : 'white'}"
                     class="bi bi-sort-alpha-down-alt"></i>
                  Ordenar de Z a A
                </a>
                <hr class="dropdown-divider">
                <a (click)="onDeleteFilterClick(columna.name)" class="dropdown-item">
                  <i [ngStyle]="{color:(columna.filtered) ? 'red' : 'black'}" class="bi bi-funnel-fill"></i> <i style="padding:0px" class="bi bi-x"></i> Eliminar filtro de {{columna.label}}
                </a>
                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="true" (click)="onSpecialFiltersClick($event, columna.name)">
                  <i *ngIf="columna.optionFilter!=null && columna.optionFilter!='' && columna.optionFilter != this.filtroEspecialEquals"
                     style="color: palegreen" class="bi bi-check-square-fill"></i>

                  {{leyendaFiltrosEspeciales}}
                </a>
                <div id="filters-{{columna.name}}" class="d-none">
                  <a *ngFor="let nombre of this.opcionesFiltros; let indice=index"
                     (click)="mostrarModalFiltro(nombre, columna);" class="dropdown-item" data-toggle="modal"
                     data-target="#mdlFiltro">
                    <i id="imgFiltroEspecializado"
                       *ngIf="(nombre == this.filtroEspecializado && columna.optionFilter != null && columna.secondOptionFilter != '') || nombre === columna.optionFilter && columna.optionFilter != this.filtroEspecialEquals && columna.secondOptionFilter ==''"
                       class="bi bi-check-lg"></i>
                    {{nombre}} ...
                    <div *ngIf="this.indicesopcionesFiltros.includes(indice)" class="dropdown-divider"></div>
                  </a>
                </div>
                <div class="dropdown-divider"></div>
                <div style="height:300px; overflow:scroll; padding:5px">
                  <input class="form-control" placeholder="Buscar" type="text"
                         (input)="onFiltroCabecero($event, columna)" />
                  <input type="checkbox" id="chckAllFiltro{{columna.name}}" [(ngModel)]="columna.selectAll"
                         (change)="seleccionarAllFiltro(columna);" />
                  <label style="font-size:x-small;" (click)="$event.stopPropagation()"
                         for="chckAllFiltro{{columna.name}}">
                    Seleccionar
                    todos
                  </label>
                  <div style="height:min-content" *ngFor="let dato of columna.filteredData; index as i">
                    <input type="checkbox" id={{columna.name+i}} [(ngModel)]="dato.checked" class="check chkdata" />
                    <label for="{{columna.name+i}}" style="font-size:xx-small; display: inline;"
                           (click)="$event.stopPropagation()">&nbsp;{{dato.value}}</label>
                  </div>
                </div>
                <div class="modal-footer" style="font-size:xx-small;">
                  <button id="btnCancelarFiltro" type="button" style="font-size:xx-small"
                          class="btn btn-secondary btn-sm" data-dismiss="dropdown" (click)="onCancelarFiltroClick()">
                    Cancelar
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" style="font-size:xx-small"
                          data-dismiss="dropdown" (click)="filtrar(columna,false);">
                    Aceptar
                  </button>
                </div>
              </div>
            </div>
          </th>
          <th class="no-border-top td-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let limite of this.limitesLaboratorio | paginate: { itemsPerPage:NoPage, currentPage: page, totalItems: totalItems}">
          <td>{{limite.claveParametro}}</td>
          <td>{{limite.nombreParametro}} </td>
          <td>{{limite.realizaLaboratorioMuestreo}} </td>
          <td>{{limite.laboratorioMuestreo}} </td>
          <td>{{limite.mes}} </td>
          <td>{{(limite.activo)?"ACTIVO":"INACTIVO"}} </td>
          <td>{{limite.ldMaCumplir}} </td>
          <td>{{limite.lpCaCumplir}} </td>
          <td>{{limite.loMuestra}} </td>
          <td>{{limite.loSubroga}} </td>
          <td>{{limite.laboratorioSubrogado}} </td>
          <td>{{limite.metodoAnalitico}} </td>
          <td>{{limite.ldm}} </td>
          <td>{{limite.lpc}} </td>
          <td>{{limite.anio}} </td>
          <td style="text-align:center">
            <button type="button" class="btn-action btn-primary-action mr-1" title="Editar">
              <i class="bi bi-pencil-square icon-action"></i>
            </button>           
            <button type="button" class="btn-action btn-danger-action" title="Eliminar" data-toggle="modal" data-target="#mdlConfirmacion">
              <i class="bi bi-trash"></i>
            </button>
          </td>

        </tr>
        <tr *ngIf="this.laboratorios.length==0">
          <td class="td-center" colspan="22">No se encontraron registros</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-3">
      <pagination-controls (pageChange)="pageClic($event)" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>
    <div class="col-md-2">
      <p class="total-items">
        Registros por página: <span class="badge text-bg-primary">{{this.limitesLaboratorio.length}}</span>
      </p>
    </div>
    <div class="col-md-3">
      <p class="total-items">Total de registros: <span class="badge text-bg-primary">{{this.totalItems}}</span></p>

    </div>
  </div>


  <!--MODAL AGREGAR EDITAR LIMITE LABORATORIOS-->

  <div class="modal fade"
       id="modalregistro" data-bs-backdrop="static" data-toggle="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="min-width: 85%;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title2">{{modalTitle}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Clave parámetro:</label>
            <div class="col-sm-3">
              <select id="dropClaveParametro" class="form-control obligatorio" [(ngModel)]="this.LaboratorioRegistro.parametroId">
                <option [ngValue]="null">--Seleccione--</option>
                <option *ngFor="let parametro of parametros" [ngValue]="parametro.id">
                  {{parametro.claveParametro}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.parametroId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>

            <label class="col-sm-2 control-label">Nombre parámetro:</label>
            <div class="col-sm-5">
              <input id="txtNombreParametro" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Descripción parámetro" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.nombreParametro" />
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.nombreParametro==''">
                Campo <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Laboratorio:</label>
            <div class="col-sm-3">
              <select id="dropLaboratorio" class="form-control obligatorio" [(ngModel)]="this.LaboratorioRegistro.laboratorioId">
                <option [ngValue]=null>--Seleccione--</option>
                <option *ngFor="let laboratorio of laboratorios" [ngValue]="laboratorio.id">
                  {{laboratorio.descripcion}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.laboratorioId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>
            <label class="col-sm-2 control-label">Nombre laboratorio:</label>
            <div class="col-sm-5">
              <input id="txtLaboratorio" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Descripción laboratorio" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.laboratorio" />
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.laboratorio==''">
                Campo <strong>requerido</strong>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Realiza laboratorio Muestreo:</label>
            <div class="col-sm-3">
              <select id="dropRealizaLabMuestreo" class="form-control obligatorio" [(ngModel)]="this.LaboratorioRegistro.realizaLaboratorioMuestreoId">
                <option [ngValue]=null>--Seleccione--</option>
                <option *ngFor="let laboratorio of laboratorios" [ngValue]="laboratorio.id">
                  {{laboratorio.descripcion}}
                </option>
              </select>
              <span class="text-danger ml-2">
                Campo <strong>requerido</strong>
              </span>
            </div>
            <label class="col-sm-2 control-label">Laboratorio de Muestreo:</label>
            <div class="col-sm-5">
              <select id="dropMunicipios" class="form-control obligatorio" [(ngModel)]="this.LaboratorioRegistro.laboratorioMuestreoId">
                <option [ngValue]="null">--Seleccione--</option>
                <option *ngFor="let labMuestreo of laboratorioMuestreo" [ngValue]="labMuestreo.id">
                  {{labMuestreo.nomenclatura}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.laboratorioMuestreoId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Nombre laboratorio muestreo:</label>
            <div class="col-sm-10">
              <input id="txtLaboratorioMuestreo" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Descripción laboratorio" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.laboratorio" />
              <span class="text-danger ml-2" *ngIf="this.LaboratorioRegistro.laboratorio==''">
                Campo <strong>requerido</strong>
              </span>
            </div>

          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label">Mes:</label>
            <div class="col-sm-3">
              <input id="txtLatitud" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Mes" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.mes" />
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.mes==''">
                Campo <strong>requerido</strong>
              </span>
            </div>
            <label class="col-sm-2 control-label">LDM a cumplir:</label>
            <div class="col-sm-5">
              <input id="txtLatitud" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="LDM a cumplir" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.ldMaCumplir" />
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.ldMaCumplir==''">
                Campo <strong>requerido</strong>
              </span>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">LPC a cumplir:</label>
            <div class="col-sm-2">
              <input id="txtlpc" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="LPC a cumplir" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.lpCaCumplir" />
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.lpCaCumplir==''">
                Campo <strong>requerido</strong>
              </span>
            </div>
            <label class="col-sm-2 control-label">Lo muestra:</label>
            <div class="col-sm-2">
              <input class="check" type="checkbox" />
              <span class="text-danger ml-2">
                Campo <strong>requerido</strong>
              </span>
            </div>

            <label class="col-sm-2 control-label">Lo subrroga:</label>
            <div class="col-sm-2">
              <select id="dropLoSubroga" class="form-control obligatorio" [(ngModel)]="this.LaboratorioRegistro.loMuestra">
                <option [ngValue]=null>--Seleccione--</option>
                <option *ngFor="let laboratorio of laboratorios" [ngValue]="laboratorio.id">
                  {{laboratorio.descripcion}}
                </option>
              </select>
              <span class="text-danger ml-2">
                Campo <strong>requerido</strong>
              </span>
            </div>


          </div>

          <div class="form-group">

            <label class="col-sm-2 control-label">Laboratorio subrrogado:</label>
            <div class="col-sm-3">
              <select id="dropLaboratorioSubrogado" class="form-control obligatorio" [(ngModel)]="this.LaboratorioRegistro.laboratorioSubrogadoId">
                <option [ngValue]=null>--Seleccione--</option>
                <option *ngFor="let labSubrogado of laboratoriosSubrogado" [ngValue]="labSubrogado.id">
                  {{labSubrogado.nomenclatura}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.laboratorioSubrogadoId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>
            <label class="col-sm-2 control-label">Nombre laboratorio subrrogado:</label>
            <div class="col-sm-5">
              <input id="txtLaboratorioMuestreo" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Descripción laboratorio" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.laboratorio" />
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.laboratorio==''">
                Campo <strong>requerido</strong>
              </span>
            </div>

          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label">Método análitico:</label>
            <div class="col-sm-3">
              <input id="txtMetodoAnalitico" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Método análitico" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.metodoAnalitico" />
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.metodoAnalitico==''">
                Campo <strong>requerido</strong>
              </span>
            </div>
            <label class="col-sm-2 control-label">LDM:</label>
            <div class="col-sm-5">
              <input id="txtLDM" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="LDM" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.ldm" />
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.ldm==''">
                Campo <strong>requerido</strong>
              </span>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">LPC:</label>
            <div class="col-sm-3">
              <input id="txtLPC" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="LPC" (keypress)="validarCaracteres($event)" [(ngModel)]="this.LaboratorioRegistro.lpc" />
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.lpc==''">
                Campo <strong>requerido</strong>
              </span>
            </div>
            <label class="col-sm-2 control-label">Año:</label>
            <div class="col-sm-5">
              <select id="dropAnios" class="form-control obligatorio" [(ngModel)]="this.LaboratorioRegistro.AnioId">
                <option [ngValue]=null>--Seleccione--</option>
                <option *ngFor="let labSubrogado of laboratoriosSubrogado" [ngValue]="labSubrogado.id">
                  {{labSubrogado.nomenclatura}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.LaboratorioRegistro.AnioId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>
          </div>

          <button class="btn btn-secondary ml-2" data-dismiss="modal" type="button">Cancelar</button>
          <button (click)="AddLimites();" data-dismiss="modal" class="btn btn-primary pull-right ml-2" *ngIf="editar==false" type="button">Registrar</button>
          <button (click)="UpdateLimites()" data-dismiss="modal" class="btn btn-primary pull-right ml-2" *ngIf="editar==true" type="button">Actualizar</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <app-notificacion-emergente [notificacion]="this.notificacion"
                              (changed)="this.DeleteLimiteLaboratorio();"></app-notificacion-emergente>

</div>
