<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="container-fluid">
  <h1>Administración Sitios</h1>
  <hr class="red">
  <div class="message-container">
    <app-notification></app-notification>
  </div>
  <div class="clearfix" style="margin-bottom: 1%;">
    <div class="float-right">
      <button class="btn btn-primary btn-sm mr-1" type="button" data-toggle="modal" data-target="#modalregistro" (click)="MostrarModalRegistro();">
        <i class="bi bi-plus-lg" data-toggle="modal" data-target="#modalregistro"></i> Nuevo sitio
      </button>
      <input type="file" class="element-hidden" (change)="cargarArchivo($event)" accept=".xls, .xlsx"
             title="Seleccionar archivo" #inputExcelMonitoreos>
      <button type="button" class="btn btn-primary btn-sm mr-1" (click)="inputExcelMonitoreos.click()"
              title="Seleccionar archivo">
        <i class="bi bi-filetype-xlsx"></i>
        Agregar desde archivo
      </button>

      <button class="btn btn-secondary btn-sm" type="button" (click)="onLimpiarFiltrosClick()">
        <i class="bi bi-funnel"></i>
        Limpiar filtros
      </button>
      <!-- <button class="btn btn-primary btn-sm mr-1" type="button">
          <i class="bi bi-send-exclamation"></i> Borrar
      </button> -->
    </div>


  </div>
  <app-historial></app-historial>
  <div class="alert alert-secondary" role="alert"
       *ngIf="this.selectAllOption && !this.allSelected && this.totalItems > this.NoPage ">
    Los {{this.sitios.length}} registros de esta página están seleccionados. <button type="button"
                                                                                     (click)="onSelectAllPagesClick()" class="btn btn-link">
      Seleccionar los {{this.totalItems}} registros
    </button>
  </div>
  <div class="alert alert-secondary" role="alert" *ngIf="this.allSelected">
    Los {{this.totalItems}} registros están seleccionados. <button type="button" class="btn btn-link"
                                                                   (click)="onUnselectAllClick()">
      Anular la seleccion
    </button>
  </div>

  <div class="dvTable">
    <table class="table-bordered table-hover">
      <thead class="thead-sticky">
        <tr>
          <!-- <th columnResize class="td-center no-border-bottom th-resize">
              &nbsp;SELECCIONAR&nbsp;
          </th> -->
          <th columnResize scope="col" *ngFor="let columna of this.columns let i = index"
              id="{{columna.name}}" class="no-border-bottom th-resize"
              [ngStyle]="{ 'backgroundColor': (esfiltrofoco == this.columna.name && !this.cabeceroSeleccionado) || (this.columna.label.indexOf(esfiltrofoco) != -1 && this.esfiltrofoco != '' && !this.cabeceroSeleccionado )  ? 'lightblue' : ( (cabeceroSeleccionado && esfiltrofoco == this.columna.name ) ? 'yellow' : '#E9ECEF'), 'z-index': '0'}">
            {{columna.label}}
          </th>
          <th columnResize class="td-center no-border-bottom th-resize">
            ACCIONES
          </th>
        </tr>


        <tr>
          <!--<th class="no-border-top td-center">
            <input class="cursor-pointer" type="checkbox" id="chckAll" [(ngModel)]="this.selectedPage"
                   (change)="onSelectPageClick(this.sitios,this.sitiosSeleccionados);"
                   title="Selecciona la página actual" />
          </th>-->
          <th class="no-border-top" *ngFor="let columna of this.columns let i = index" id="filter-{{columna.name}}">
            <div class="dropdown" style="width:max-content" id="dd-{{columna.name}}">
              <button id="dLabel" style="border:none; text-align:right" data-toggle="dropdown" aria-haspopup="true"
                      title="Filtros" aria-expanded="false" (click)="onFilterIconClick(columna)">
                <i *ngIf="!columna.filtered && !(this.orderBy.column === columna.name)"
                   class="bi bi-caret-down-fill"></i>
                <i *ngIf="columna.filtered" class="bi bi-funnel-fill"></i>
                <i [(ngModel)]="columna.asc" *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'asc'"
                   class="bi bi-arrow-down"></i>
                <i [(ngModel)]="columna.desc"
                   *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'desc'"
                   class="bi bi-arrow-up"></i>
              </button>

              <div class="dropdown-menu" style="width:250px;" id="dd-menu-{{columna.name}}">

                <a (click)="sort(columna.name, 'asc');" class="dropdown-item">
                  <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'asc') ? 'lightgreen' : 'white'}"
                     class="bi bi-sort-alpha-down"></i>
                  Ordenar de A a Z
                </a>
                <a (click)="sort(columna.name, 'desc');" class="dropdown-item">
                  <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'desc') ? 'lightgreen' : 'white'}"
                     class="bi bi-sort-alpha-down-alt"></i>
                  Ordenar de Z a A
                </a>
                <hr class="dropdown-divider">
                <a (click)="onDeleteFilterClick(columna.name)" class="dropdown-item">
                  <i [ngStyle]="{color:(columna.filtered) ? 'red' : 'black'}" class="bi bi-funnel-fill"></i> <i style="padding:0px" class="bi bi-x"></i> Eliminar filtro de {{columna.label}}
                </a>
                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="true" (click)="onSpecialFiltersClick($event, columna.name)">
                  <i *ngIf="columna.optionFilter!=null && columna.optionFilter!='' && columna.optionFilter != this.filtroEspecialEquals"
                     style="color: palegreen" class="bi bi-check-square-fill"></i>

                  {{leyendaFiltrosEspeciales}}
                </a>
                <div id="filters-{{columna.name}}" class="d-none">
                  <a *ngFor="let nombre of this.opcionesFiltros; let indice=index"
                     (click)="mostrarModalFiltro(nombre, columna);" class="dropdown-item" data-toggle="modal"
                     data-target="#mdlFiltro">
                    <i id="imgFiltroEspecializado"
                       *ngIf="(nombre == this.filtroEspecializado && columna.optionFilter != null && columna.secondOptionFilter != '') || nombre === columna.optionFilter && columna.optionFilter != this.filtroEspecialEquals && columna.secondOptionFilter ==''"
                       class="bi bi-check-lg"></i>
                    {{nombre}} ...
                    <div *ngIf="this.indicesopcionesFiltros.includes(indice)" class="dropdown-divider"></div>
                  </a>
                </div>
                <div class="dropdown-divider"></div>
                <div style="height:300px; overflow:scroll; padding:5px">
                  <input class="form-control" placeholder="Buscar" type="text"
                         (input)="onFiltroCabecero($event, columna)" />
                  <input type="checkbox" id="chckAllFiltro{{columna.name}}" [(ngModel)]="columna.selectAll"
                         (change)="seleccionarAllFiltro(columna);" />
                  <label style="font-size:x-small;" (click)="$event.stopPropagation()"
                         for="chckAllFiltro{{columna.name}}">
                    Seleccionar
                    todos
                  </label>
                  <div style="height:min-content" *ngFor="let dato of columna.filteredData; index as i">
                    <input type="checkbox" id={{columna.name+i}} [(ngModel)]="dato.checked" class="check chkdata" />
                    <label for="{{columna.name+i}}" style="font-size:xx-small; display: inline;"
                           (click)="$event.stopPropagation()">&nbsp;{{dato.value}}</label>
                  </div>
                </div>
                <div class="modal-footer" style="font-size:xx-small;">
                  <button id="btnCancelarFiltro" type="button" style="font-size:xx-small"
                          class="btn btn-secondary btn-sm" data-dismiss="dropdown" (click)="onCancelarFiltroClick()">
                    Cancelar
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" style="font-size:xx-small"
                          data-dismiss="dropdown" (click)="filtrar(columna,false);">
                    Aceptar
                  </button>
                </div>
              </div>
            </div>
          </th>
          <th class="no-border-top td-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sitio of this.sitios | paginate: { itemsPerPage:NoPage, currentPage: page, totalItems: totalItems}">
          <!--<td class="td-center">
            <input type="checkbox" class="cursor-pointer" [(ngModel)]="sitio.selected"
                   (change)="onSelectClick(sitio)" title="Seleccionar">
          </td>-->
          <td>{{sitio.claveSitio}}</td>
          <td>{{sitio.nombreSitio}} </td>
          <td>{{sitio.acuifero}} </td>
          <td>{{sitio.cuenca}}</td>
          <td>{{sitio.direccionLocal}}</td>
          <td>{{sitio.estado}}</td>
          <td>{{sitio.municipio}}</td>
          <td>{{sitio.cuerpoAgua}}</td>
          <td>{{sitio.tipoCuerpoAgua}}</td>
          <td>{{sitio.subtipoCuerpoAgua}}</td>
          <td>{{sitio.latitud}}</td>
          <td>{{sitio.longitud}}</td>
          <td>{{sitio.observaciones}}</td>
          <td>
            <button type="button" class="btn-action btn-primary-action mr-1" title="Editar" data-toggle="modal" data-target="#modalregistro" (click)="UpdateSites(sitio);">
              <i class="bi bi-pencil-square icon-action"></i>
            </button>
            <button type="button" class="btn-action btn-danger-action" title="Eliminar" data-toggle="modal" data-target="#mdlConfirmacion">
              <i class="bi bi-trash"></i>
            </button>

            <!--<button id="btnMdlConfirmacion" class="btn btn-primary btn-sm element-hidden" type="button" data-toggle="modal"
                    data-target="#mdlConfirmacion" title="Seleccionar"></button>-->
          </td>

        </tr>
        <tr *ngIf="this.sitios.length==0">
          <td class="td-center" colspan="22">No se encontraron registros</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-3">
      <pagination-controls (pageChange)="pageClic($event)" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>
    <div class="col-md-2">
      <p class="total-items">
        Registros por página: <span class="badge text-bg-primary">{{this.sitios.length}}</span>
      </p>
    </div>
    <div class="col-md-3">
      <p class="total-items">Total de registros: <span class="badge text-bg-primary">{{this.totalItems}}</span></p>
    </div>
  </div>


  <!--MODAL AGREGAR EDITAR SITIO-->
  <div class="modal fade" id="modalregistro" data-bs-backdrop="static" data-toggle="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="min-width: 70%;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title2">{{modalTitle}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Clave sitio:</label>
            <div class="col-sm-3">
              <input id="txtClaveSitio" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Clave sitio" (keypress)="validarCaracteres($event)" [(ngModel)]="this.sitioRegistro.claveSitio" />
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.claveSitio==''">
                Campo <strong>requerido</strong>
              </span>
            </div>

            <label class="col-sm-3 control-label">Nombre sitio:</label>
            <div class="col-sm-3">
              <input id="txtNombreSitio" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Nombre sitio" (keypress)="validarCaracteres($event)" [(ngModel)]="this.sitioRegistro.nombreSitio" />
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.nombreSitio==''">
                Campo <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Acuifero:</label>
            <div class="col-sm-9">
              <select id="dropAcuifero" class="form-control" [(ngModel)]="this.sitioRegistro.acuiferoId">
                <option [ngValue]=null>--Seleccione--</option>
                <option *ngFor="let acuifero of acuiferos" [ngValue]="acuifero.acuiferoId">
                  {{acuifero.descripcion}}
                </option>
              </select>
              <span class="text-danger ml-2"></span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Organismo de cuenca:</label>
            <div class="col-sm-3">
              <select id="dropOrganismoCuenca" class="form-control obligatorio" [(ngModel)]="this.sitioRegistro.oCuencaId" (click)="cargaDireccionLocal();">
                <option [ngValue]="null">--Seleccione--</option>
                <option *ngFor="let cuenca of organismosCuenca" [ngValue]="cuenca.oCuencaId">
                  {{cuenca.organismoCuenca}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.oCuencaId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>

            <label class="col-sm-3 control-label">Dirección local:</label>
            <div class="col-sm-3">
              <select id="dropDireccionLocal" class="form-control obligatorio" [(ngModel)]="this.sitioRegistro.dLocalId">
                <option [ngValue]="null">--Seleccione--</option>
                <option *ngFor="let direccion of direccionesLocales" [ngValue]="direccion.dLocalId">
                  {{direccion.dieccionLocal}}
                </option>
              </select>
              <span class="text-danger ml-2"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Estado:</label>
            <div class="col-sm-3">
              <select id="dropEstados" class="form-control obligatorio" [(ngModel)]="this.sitioRegistro.estadoId" (click)="cargaMunicipios();">
                <option [ngValue]="null">--Seleccione--</option>
                <option *ngFor="let estado of estados" [ngValue]="estado.id">
                  {{estado.nombre}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.estadoId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>

            <label class="col-sm-3 control-label">Municipio:</label>
            <div class="col-sm-3">
              <select id="dropMunicipios" class="form-control obligatorio" [(ngModel)]="this.sitioRegistro.municipioId">
                <option [ngValue]="null">--Seleccione--</option>
                <option *ngFor="let municipio of municipios" [ngValue]="municipio.id">
                  {{municipio.nombre}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.municipioId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Cuerpo de agua:</label>
            <div class="col-sm-9">
              <select id="dropCuerpoAgua" class="form-control obligatorio" [(ngModel)]="this.sitioRegistro.cuerpoAguaId" (click)="cuerpoTipoSubtipoByCuerpoId();">
                <option [ngValue]="null">--Seleccione--</option>
                <option *ngFor="let cuerpo of cuerposAgua" [ngValue]="cuerpo.id">
                  {{cuerpo.descripcion}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.cuerpoAguaId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Tipo cuerpo de agua:</label>
            <div class="col-sm-3">
              <select id="dropTipoCuerpoAgua" class="form-control obligatorio" [(ngModel)]="this.sitioRegistro.tipoCuerpoAguaId" (click)="cargaSubtipoAgua();">
                <option [ngValue]="null">--Seleccione--</option>
                <option *ngFor="let tipoCuerpo of tiposCuerpoAgua" [ngValue]="tipoCuerpo.tipoCuerpoAguaId">
                  {{tipoCuerpo.tipoCuerpoAgua}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.tipoCuerpoAguaId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>

            <label class="col-sm-3 control-label">Subtipo cuerpo de agua:</label>
            <div class="col-sm-3">
              <select id="dropubtipoCuerpoAgua" class="form-control obligatorio" [(ngModel)]="this.sitioRegistro.subtipoCuerpoAguaId">
                <option [ngValue]="null">--Seleccione--</option>
                <option *ngFor="let subtipo of subtiposCuerpoAgua" [ngValue]="subtipo.subtipoCuerpoAguaId">
                  {{subtipo.subtipoCuerpoAgua}}
                </option>
              </select>
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.subtipoCuerpoAguaId==null">
                Campo <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Latitud:</label>
            <div class="col-sm-3">
              <input id="txtLatitud" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Latitud" [(ngModel)]="this.sitioRegistro.latitud" />
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.latitud==0">
                Campo <strong>requerido</strong>
              </span>
            </div>

            <label class="col-sm-3 control-label">Longitud:</label>
            <div class="col-sm-3">
              <input id="txtLongitud" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Longitud" [(ngModel)]="this.sitioRegistro.longitud" />
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.longitud==0">
                Campo <strong>requerido</strong>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Observaciones:</label>
            <div class="col-sm-9">
              <textarea id="txtObservaciones" class="form-control obligatorio" [attr.disabled]="editar? true : null" placeholder="Observaciones" (keypress)="validarCaracteres($event)" [(ngModel)]="this.sitioRegistro.observaciones">
               </textarea>
              <span class="text-danger ml-2 " *ngIf="this.sitioRegistro.observaciones==''">
                Campo <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button id="btn-close" type="button" class="btn btn-secondary"
                    data-dismiss="modal">
              Cancelar
            </button>            
            <button (click)="AddSites()" data-dismiss="modal" class="btn btn-primary" *ngIf="!editar" type="button">Guardar</button>
            <button (click)="Update()" data-dismiss="modal" class="btn btn-primary" *ngIf="editar" type="button">Guardar cambios</button>
          </div>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <app-notificacion-emergente [notificacion]="this.notificacion"
                              (changed)="this.DeleteSitios();"></app-notificacion-emergente>
</div>
