<router-outlet name="menu"></router-outlet>
<div class="container-fluid">
  <h3>Resumen de carga de resultados para validar resultados (Por monitoreo)</h3>
  <hr class="red">
  <div class="message-container">
    <app-alert id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta" [type]="this.tipoAlerta"
               (mostrando)="this.mostrarAlerta=$event"></app-alert>
  </div>


  <div class="row">

    <div class="col-md-3">
      <label for="anios">Seleccionar año(s):*</label>
      <!--<select class="form-control" name="anios" id="anios" multiple [(ngModel)]="aniosSeleccionados" [size]="this.anios.length">
        <option *ngFor="let anio of anios" value="{{anio}}">{{anio}}</option>
      </select>-->

      <select class="form-control" name="anios" id="anios">
        <option value="0">2022</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="entrega">Seleccionar número(s) de entrega:*</label>
      <!--<select class="form-control" name="entrega" id="entrega" multiple [(ngModel)]="entregasSeleccionadas" [size]="this.entregas.length">
        <option *ngFor="let entrega of entregas" value="{{entrega}}">{{entrega}}</option>
      </select>-->
      <select class="form-control" name="entrega" id="entrega">
        <option value="">Entrega-0</option>
      </select>
    </div>

    <div style="text-align:right" class="col-md-3">
      <button class="btn btn-secondary" type="button" (click)="onDownload()">
        <i class="bi bi-cloud-download"></i> Descargar informaci&oacute;n
      </button>
    </div>
    <div style="text-align:left" class="col-md-1">
      <button class="btn btn-secondary" type="button">
        <i class="bi bi-funnel"></i>
        Limpiar filtros
      </button>
    </div>

  </div>


  <div class="row">
    <div class="col-md-12 table-responsive dvTable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align:center" class="checkBox-center">
              <label for="chckAll">SELECCIONAR TODOS</label>
              <input type="checkbox" id="chckAll" [(ngModel)]="this.seleccionarTodosChck"
                     (change)="seleccionarAll(this.resultadosMuestreo)" />
            </th>
            <th *ngFor="let columna of columnas">
              {{columna.etiqueta}}
              <ng-autocomplete #filtros [data]="columna.filtro.values" [searchKeyword]="this.keyword"
                               (selected)="columna.filtro.selectedValue = $event; filtrarColumnas()"
                               (inputCleared)="columna.filtro.selectedValue = 'Seleccione'; filtrarColumnas()" [itemTemplate]="itemTemplate"
                               placeholder="seleccione">
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item"></a>
              </ng-template>
            </th>
          </tr>
        </thead>
        <tbody style="text-align:left;">
          <tr *ngFor="let dato of this.resultadosFiltrados| paginate: { itemsPerPage:NoPage, currentPage: page }; let indice=index">
            <td style="text-align:center" class="checkBox-center">
              <input type="checkbox"
                     (change)="seleccionar()">
            </td>
            <td style="text-align: center;">{{dato.claveSitio}}</td>
            <td style="text-align: center;">{{dato.claveMonitoreo}}</td>
            <td style="text-align: center;">{{dato.nombreSitio}}</td>
            <td style="text-align: center;">{{dato.fechaRealizacion}}</td>
            <td style="text-align: center;">{{dato.fechaProgramada}}</td>
            <td style="text-align: center;">{{dato.diferenciaDias}}</td>
            <td style="text-align: center;">{{dato.fechaEntregaTeorica}}</td>
            <td style="text-align: center;">{{dato.laboratorioRealizoMuestreo}}</td>
            <td style="text-align: center;">{{dato.cuerpoAgua}}</td>
            <td style="text-align: center;">{{dato.tipoCuerpoAgua}}</td>
            <td style="text-align: center;">{{dato.subTipoCuerpoAgua}}</td>
            <td style="text-align: center;">{{dato.numParametrosEsperados}}</td>
            <td style="text-align: center;">{{dato.numParametrosCargados}}</td>
            <td style="text-align: center;"></td>

            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
          </tr>
          <tr>
            <td colspan="20">
              <div *ngIf="this.resultadosFiltrados.length==0" style="text-align: center;">
                No se encontraron registros
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="page= $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
  </div>

  <div style="text-align:right" class="d-flex justify-content-between">    
    <div style="text-align:right" class="col-md-12">
      <button class="btn btn-primary rigth" type="button" (click)="enviaraValidacion()">
        <i class="bi bi-send"></i> Enviar a validación
      </button>
     
    </div>
  </div>
  <br />

</div>

