<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<div class="container-fluid">
    <h1 class="row col">Administración Tipos Cuerpo de Agua</h1>
    <hr class="red">
    <div class="message-container">
        <app-notification></app-notification>
    </div>
    <div class="clearfix" style="margin-bottom: 1%;">
        <div class="float-right">
            <button class="btn btn-primary btn-sm mr-1" type="button" data-toggle="modal" data-target="#modalregistro">
                Nuevo Tipo Cuerpo Agua
            </button>
            <input type="file" class="element-hidden" (change)="importarExcel($event)" accept=".xls, .xlsx"
                title="Seleccionar archivo" #inputExcelTipoCuerpoAgua>
            <button type="button" class="btn btn-primary btn-sm mr-1" (click)="inputExcelTipoCuerpoAgua.click()"
                title="Seleccionar archivo">
                <i class="bi bi-filetype-xlsx"></i>
                Agregar desde archivo
            </button>
            <button class="btn btn-secondary btn-sm" type="button" (click)="onLimpiarFiltrosClick()">
                <i class="bi bi-funnel"></i>
                Limpiar filtros
            </button>
        </div>
    </div>
    <app-historial></app-historial>
    <div class="dvTable">
        <table class="table table-bordered table-hover">
            <thead class="thead-sticky">
                <tr>
                    <th columnResize scope="col" *ngFor="let columna of this.columns let i = index"
                        id="{{columna.name}}" class="no-border-bottom th-resize"
                        [ngStyle]="{ 'backgroundColor': (esfiltrofoco == this.columna.name && !this.cabeceroSeleccionado) || (this.columna.label.indexOf(esfiltrofoco) != -1 && this.esfiltrofoco != '' && !this.cabeceroSeleccionado )  ? 'lightblue' : ( (cabeceroSeleccionado && esfiltrofoco == this.columna.name ) ? 'yellow' : '#E9ECEF'), 'z-index': '0'}">
                        {{columna.label}}
                    </th>
                    <th columnResize class="td-center no-border-bottom th-resize">ACCIONES
                    </th>
                </tr>
                <tr>
                    <th class="no-border-top" *ngFor="let columna of this.columns let i = index"
                        id="filter-{{columna.name}}">
                        <div class="dropdown" style="width:max-content" id="dd-{{columna.name}}">
                            <button id="dLabel" style="border:none; text-align:right" data-toggle="dropdown"
                                aria-haspopup="true" title="Filtros" aria-expanded="false"
                                (click)="onFilterIconClick(columna);">
                                <i *ngIf="!columna.filtered && !(this.orderBy.column === columna.name)"
                                    class="bi bi-caret-down-fill"></i>
                                <i *ngIf="columna.filtered" class="bi bi-funnel-fill"></i>
                                <i [(ngModel)]="columna.asc"
                                    *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'asc'"
                                    class="bi bi-arrow-down"></i>
                                <i [(ngModel)]="columna.desc"
                                    *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'desc'"
                                    class="bi bi-arrow-up"></i>
                            </button>
                            <div class="dropdown-menu" style="width:250px;" id="dd-menu-{{columna.name}}">
                                <a (click)="sort(columna.name, 'asc');" class="dropdown-item">
                                    <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'asc') ? 'lightgreen' : 'white'}"
                                        class="bi bi-sort-alpha-down"></i>
                                    Ordenar de A a Z
                                </a>
                                <a (click)="sort(columna.name, 'desc');" class="dropdown-item">
                                    <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'desc') ? 'lightgreen' : 'white'}"
                                        class="bi bi-sort-alpha-down-alt"></i>
                                    Ordenar de Z a A
                                </a>
                                <hr class="dropdown-divider">
                                <a (click)="onDeleteFilterClick(columna.name)" class="dropdown-item">
                                    <i [ngStyle]="{color:(columna.filtered) ? 'red' : 'black'}"
                                        class="bi bi-funnel-fill"></i> <i style="padding:0px" class="bi bi-x"></i>
                                    Eliminar filtro de {{columna.label}}
                                </a>
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true" (click)="onSpecialFiltersClick($event, columna.name)">
                                    <i *ngIf="columna.optionFilter!=null && columna.optionFilter!='' && columna.optionFilter != this.filtroEspecialEquals"
                                        style="color: palegreen" class="bi bi-check-square-fill"></i>

                                    {{leyendaFiltrosEspeciales}}
                                </a>

                                <div id="filters-{{columna.name}}" class="d-none">
                                    <a *ngFor="let nombre of this.opcionesFiltros; let indice=index"
                                        (click)="mostrarModalFiltro(nombre, columna);" class="dropdown-item"
                                        data-toggle="modal" data-target="#mdlFiltro">
                                        <i id="imgFiltroEspecializado"
                                            *ngIf="(nombre == this.filtroEspecializado && columna.optionFilter != null && columna.secondOptionFilter != '') || nombre === columna.optionFilter && columna.optionFilter != this.filtroEspecialEquals && columna.secondOptionFilter ==''"
                                            class="bi bi-check-lg"></i>
                                        {{nombre}} ...
                                        <div *ngIf="this.indicesopcionesFiltros.includes(indice)"
                                            class="dropdown-divider"></div>
                                    </a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div style="height:300px; overflow:scroll; padding:5px">
                                    <input class="form-control" placeholder="Buscar" type="text"
                                        (input)="onFiltroCabecero($event, columna)" />
                                    <input type="checkbox" id="chckAllFiltro{{columna.name}}"
                                        [(ngModel)]="columna.selectAll" (change)="seleccionarAllFiltro(columna);" />
                                    <label style="font-size:x-small" (click)="$event.stopPropagation()"
                                        for="chckAllFiltro{{columna.name}}">
                                        Seleccionar
                                        todos
                                    </label>
                                    <div style="height:min-content"
                                        *ngFor="let dato of columna.filteredData; index as i">
                                        <input type="checkbox" id={{columna.name+i}} [(ngModel)]="dato.checked"
                                            class="check chkdata" />
                                        <label for="{{columna.name+i}}" style="font-size:xx-small;display: inline;"
                                            (click)="$event.stopPropagation()">&nbsp;{{ (columna.name == "Activo") ? ((dato.value) ? "SI" :"NO") : dato.value }}</label>
                                    </div>
                                </div>
                                <div class="modal-footer" style="font-size:xx-small;">
                                    <button id="btnCancelarFiltro" type="button" style="font-size:xx-small"
                                        class="btn btn-secondary btn-sm" data-dismiss="dropdown"
                                        (click)="onCancelarFiltroClick()">
                                        Cancelar
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" style="font-size:xx-small"
                                        (click)="filtrar(columna,false);" data-dismiss="dropdown">
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th class="no-border-top td-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let registro of this.registros | paginate: { itemsPerPage:NoPage, currentPage: page, totalItems: totalItems }">
                    <td>{{registro.descripcion}}</td>
                    <td>{{registro.tipoHomologadoDescripcion}}</td>
                    <td>{{registro.activo}}</td>
                    <td>
                        <button type="button" class="btn-action btn-primary-action mr-1" title="Editar"
                            (click)="onEditClick(this.registro.id)">
                            <i class="bi bi-pencil-square icon-action"></i>
                        </button>
                        <button type="button" class="btn-action btn-danger-action"
                            (click)="onDeleteClick(this.registro.id)" title="Eliminar">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-3">
            <pagination-controls (pageChange)="pageClic($event)" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
        </div>
        <div class="col-md-2">
            <p class="total-items">Registros por página: <span
                    class="badge text-bg-primary">{{this.registros.length}}</span>
            </p>
        </div>
        <div class="col-md-3">
            <p class="total-items">
                Total de registros: <span class="badge text-bg-primary">{{this.totalItems}}</span>
            </p>
        </div>
    </div>

    <div class="modal fade modal-dialog-centered" id="modalregistro" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title2">Registro tipo cuerpo de agua</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tipo cuerpo de agua:</label>
                        <div class="col-sm-9">
                            <input id="txtdescripcion1" class="form-control obligatorio" placeholder="Tipo cuerpo de agua"
                                (keypress)="validarCaracteres2($event)" [(ngModel)]="this.tipoCuerpoAgua.descripcion" />                                
                            <span class="text-danger ml-2 " *ngIf="!this.tipoCuerpoAgua.descripcion">
                                Campo <strong>requerido</strong>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tipo homologado:</label>
                        <div class="col-sm-9">
                            <select id="dropTipoHomologado2" class="form-control obligatorio"
                                [(ngModel)]="this.tipoCuerpoAgua.tipoHomologadoId">
                                <option [ngValue]="null">--Seleccione--</option> <span class="text-danger ml-2 " *ngIf="this.tipoCuerpoAgua.tipoHomologadoId==null">
                                <strong> Campo requerido</strong>
                            </span>
                                <option *ngFor="let ltr of rtipohomologado" [ngValue]="ltr.id">
                                    {{ltr.descripcion}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary ml-2" data-dismiss="modal" type="button"(click)="resetForm()">Cancelar</button>
                        <button (click)="addTipoCuerpoAgua()" data-dismiss="modal"
                            class="btn btn-primary pull-right ml-2" type="button">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="btn-edit-modal" type="button" class="btn-hidden" data-toggle="modal" data-target="#edit-modal">
        Confirmar eliminación
    </button>
    <div class="modal fade modal-dialog-centered" id="edit-modal" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title2">Editar tipo cuerpo de agua</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tipo cuerpo de agua:</label>
                        <div class="col-sm-9">
                            <input id="txtdescripcion2" class="form-control obligatorio"
                                placeholder="Tipo cuerpo de agua" (keypress)="validarCaracteres2($event)"
                                [(ngModel)]="this.tipoCuerpoAgua.descripcion" />
                            <span class="text-danger ml-2 " *ngIf="this.tipoCuerpoAgua.descripcion">                                
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tipo homologado:</label>
                        <div class="col-sm-9">
                            <select id="dropTipoHomologado2" class="form-control obligatorio"
                                [(ngModel)]="this.tipoCuerpoAgua.tipoHomologadoId">
                                <option [ngValue]="null">--Seleccione--</option>
                                <option *ngFor="let ltr of rtipohomologado" [ngValue]="ltr.id">
                                    {{ltr.descripcion}}
                                </option>
                            </select>
                            <span class="text-danger ml-2 " *ngIf="this.tipoCuerpoAgua.tipoHomologadoId==null">
                                <strong> Campo requerido</strong>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary ml-2" data-dismiss="modal" type="button" (click)="resetForm()">Cancelar</button>
                        <button (click)="updateTipoCuerpoAgua()" data-dismiss="modal"
                            class="btn btn-primary pull-right ml-2" *ngIf="editar==false"
                            type="button">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-dialog-centered" id="modaleliminar" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title2">Eliminar tipo cuerpo de agua</h4>
                </div>
                <p style="font-size: larger; text-align: center;"> ¿Está seguro de que desea eliminar el tipo de cuerpo
                    de agua "{{tipoCuerpoAgua.descripcion}}"?</p>
                <div class="form-group">
                    <div class="modal-body">
                        <button class="btn btn-secondary ml-2" data-dismiss="modal" type="button" (click)="resetForm()">Cancelar</button>
                        <button (click)="deleteTipoCuerpoAgua(this.tipoCuerpoAgua.id)" data-dismiss="modal"
                            class="btn btn-primary pull-right ml-2" *ngIf="editar==false" type="button">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="btn-delete-modal" type="button" class="btn-hidden" data-toggle="modal" data-target="#modaleliminar">
        Confirmar eliminación
    </button>
    <button id="btnMdlConfirmacionActualizacion" class="element-hidden" type="button" data-toggle="modal"
        data-target="#mdlConfirmacionActualizacion">
        Abrir modal
    </button>
    <div class="modal fade modal-dialog-centered" id="mdlConfirmacionActualizacion" data-bs-backdrop="static"
        data-toggle="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="staticBackdropLabel">Confirmar actualización de tipo cuerpo
                        de agua</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Se encontraron en el archivo, tipos cuerpo de agua que ya se encuentran en el catálogo.
                    </p>
                    <p><b>¿Desea volver a cargarlos?</b> Esta acción sustituirá la información actual de los tipos
                        cuerpo de agua.</p>
                </div>
                <div class="modal-footer">
                    <button id="btnCancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal"(click)="resetForm()">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="onSustituirtipoCuerpoAguaClick()">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>