
<h3>{{Title}}</h3>
<hr class="red" />

<table id="TablaDatos" class="table table-striped table-bordered dataTable">
  <!--<thead>
    <tr *ngFor="let encabezados of Headers">


      <th>{{encabezados}}</th>

    </tr>
  </thead>-->

  <thead>
    <tr>
      <th *ngFor="let encabezados of Headers">{{encabezados}}</th>
      


    </tr>
  </thead>


  <tbody>
    <tr *ngFor="let datos of Data | paginate: {itemsPerPage:NoPage, currentPage:page }; let indice=index">
      <td>{{indice+1}}</td>
      <td>{{datos}}</td>
    </tr>
  </tbody>
</table>

<!--Controlador de la paginacion-->
<pagination-controls (pageChange)="page= $event"
                     previousLabel="Anterior"
                     nextLabel="Siguiente"></pagination-controls>
