<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<div class="container-fluid">
    <h1 class="row col">Evidencias de monitoreo</h1>
    <hr class="red">
    <div class="message-container">
        <app-alert #mensajes id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta"
            [type]="this.tipoAlerta" (mostrando)="this.mostrarAlerta=$event"></app-alert>
    </div>
    <div class="clearfix">
        <div class="float-left">
            <input type="file" class="element-hidden" (change)="cargarEvidencias($event)"
                accept=".xls, .xlsx, .jpg, .pdf, .xlsm" multiple title="Seleccionar archivos" #fileUpload>
            <button type="button" class="btn btn-primary" (click)="fileUpload.click()">
                <i class="bi bi-cloud-upload"></i>
                Seleccionar y cargar evidencias
            </button>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-secondary mr-1" (click)="descargarEvidencias()">
                <i class="bi bi-cloud-download"></i>
                Descargar evidencias
            </button>
            <button class="btn btn-secondary btnAcciones" type="button" (click)="limpiarFiltros()">
                <i class="bi bi-funnel"></i>
                Limpiar filtros
            </button>
        </div>
    </div>
    <div class="alert alert-secondary" role="alert"
        *ngIf="this.selectAllOption && !this.allSelected && this.totalItems > this.NoPage ">
        Los {{this.muestreos.length}} registros de esta página están seleccionados. <button type="button"
            (click)="onSelectAllPagesClick()" class="btn btn-link">
            Seleccionar los {{this.totalItems}} registros
        </button>
    </div>
    <div class="alert alert-secondary" role="alert" *ngIf="this.allSelected">
        Los {{this.totalItems}} registros están seleccionados. <button type="button" class="btn btn-link"
            (click)="onUnselectAllClick()">
            Anular la seleccion
        </button>
    </div>
    <div class="table-responsive dvTable">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="checkBox-center" style="text-align:center;">
                        <label for="chckAll">SELECCIONAR</label>
                        <input type="checkbox" id="chckAll" [(ngModel)]="this.selectedPage"
                            (change)="onSelectPageClick();" title="Selecciona la página actual" />
                    </th>
                    <th #thprueba
                        [ngStyle]="{ backgroundColor: (esfilrofoco == this.columna.label && !this.cabeceroSeleccionado) || (this.columna.label.indexOf(esfilrofoco) != -1 && this.esfilrofoco != '' && !this.cabeceroSeleccionado )  ? 'lightblue' : ( (cabeceroSeleccionado && esfilrofoco == this.columna.label ) ? 'yellow' : '#E9ECEF') }"
                        scope="col" *ngFor="let columna of this.columns" id="{{columna.label}}">
                        <div class="dropdown;" style="width:max-content">
                            {{columna.label}}
                            <button id="dLabel" style="border:none; text-align:right" data-toggle="dropdown"
                                aria-haspopup="true" title="Filtros" aria-expanded="false"
                                (click)="establecerValoresFiltrosTabla(columna); this.initialValue = ''">
                                <i *ngIf="!columna.filtered && !(this.orderBy.column === columna.name)"
                                    class="bi bi-caret-down-fill"></i>
                                <i *ngIf="columna.filtered" class="bi bi-funnel-fill"></i>
                                <i [(ngModel)]="columna.asc"
                                    *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'asc'"
                                    class="bi bi-arrow-down"></i>
                                <i [(ngModel)]="columna.desc"
                                    *ngIf="this.orderBy.column === columna.name && this.orderBy.type === 'desc'"
                                    class="bi bi-arrow-up"></i>
                            </button>
                            <!-- <form [formGroup]="registroParam"> -->
                            <div class="dropdown-menu" style="width:250px;">
                                <a (click)="sort(columna.name, 'asc');" class="dropdown-item">
                                    <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'asc') ? 'lightgreen' : 'white'}"
                                        class="bi bi-sort-alpha-down"></i>
                                    Ordenar de A a Z
                                </a>
                                <a (click)="sort(columna.name, 'desc');" class="dropdown-item">
                                    <i [ngStyle]="{'background-color':(this.orderBy.column === columna.name && this.orderBy.type === 'desc') ? 'lightgreen' : 'white'}"
                                        class="bi bi-sort-alpha-down-alt"></i>
                                    Ordenar de Z a A
                                </a>
                                <hr class="dropdown-divider">
                                <a (click)="deleteFilter(columna.name); columna.filtered=false; this.existeFiltrado=validarExisteFiltrado(); consultarMonitoreos();"
                                    class="dropdown-item">
                                    <i [ngStyle]="{color:(columna.filtered) ? 'red' : 'black'}"
                                        class="bi bi-funnel-fill"></i> <i style="padding:0px" class="bi bi-x"></i>
                                    Eliminar filtro de {{columna.label}}
                                </a>
                                <a class="dropdown-item" (click)="onSpecialFiltersClick($event, columna.name)">
                                    Filtros de texto
                                </a>
                                <div id="filters-{{columna.name}}" class="d-none">
                                    <a (click)="this.opctionFiltro = 'Es igual a'" class="dropdown-item"
                                        data-toggle="modal" data-target="#mdlFiltro">Es igual a ...</a>
                                    <a (click)="this.opctionFiltro = 'No es igual a'" class="dropdown-item">No es
                                        igual a ...</a>
                                    <div class="dropdown-divider"></div>
                                    <a (click)="this.opctionFiltro = 'Comienza por'" class="dropdown-item">Comienza
                                        por ...</a>
                                    <a (click)="this.opctionFiltro = 'Termina con'" class="dropdown-item">Termina
                                        con ...</a>
                                    <div class="dropdown-divider"></div>
                                    <a (click)="this.opctionFiltro = 'Contiene'" class="dropdown-item">Contiene
                                        ...</a>
                                    <a (click)="this.opctionFiltro = 'No contiene'" class="dropdown-item">No
                                        contiene ...</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item">Filtro personalizado ...</a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div style="height:300px; overflow:scroll; padding:5px">
                                    <input #txtBuscador class="form-control" placeholder="Buscar" type="text"
                                        (input)="onFiltroCabecero($event, columna)" />
                                    <span><i class="bi bi-search"></i></span>
                                    <br />
                                    <input type="checkbox" id="chckAllFiltro{{columna.name}}"
                                        [(ngModel)]="columna.selectAll" (change)="seleccionarAllFiltro(columna);" />
                                    <label style="font-size:x-small" (click)="$event.stopPropagation()"
                                        for="chckAllFiltro{{columna.name}}">
                                        Seleccionar
                                        todos
                                    </label>
                                    <div style="height:min-content"
                                        *ngFor="let dato of columna.filteredData; index as i">
                                        <input type="checkbox" id={{columna.name+i}} [(ngModel)]="dato.checked"
                                            class="check" (change)="seleccionarFiltro(columna)" id="chkFiltro" />
                                        <label for="{{columna.name+i}}" style="font-size:xx-small;text-align:left"
                                            (click)="$event.stopPropagation()">&nbsp;{{dato.value}}</label>
                                    </div>
                                </div>
                                <div class="modal-footer" style="font-size:xx-small; height:100px">
                                    <button id="btnCancelarFiltro" type="button" style="font-size:xx-small"
                                        class="btn btn-secondary" data-dismiss="dropdown">
                                        Cancelar
                                    </button>
                                    <button type="button" class="btn btn-primary" style="font-size:xx-small"
                                        data-dismiss="dropdown" (click)="filtrar(columna)">
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </th>
                    <th>FOTO CAUDAL</th>
                    <th>MÁSCARA DE CAMPO</th>
                    <th>CADENA CUSTODIA</th>
                    <th>BITÁCORA</th>
                    <th>FOTO MUESTREO</th>
                    <th>FORMATO CAUDAL</th>
                    <th>TRACK</th>
                    <th>FOTO MUESTRA</th>
                    <th>FORMATO DE EVENTUALIDAD</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let muestreo of this.muestreos | paginate: { itemsPerPage:NoPage, currentPage: page, totalItems: totalItems }">
                    <td class="checkBox-center">
                        <input type="checkbox" [(ngModel)]="muestreo.isChecked" (change)="onSelectClick(muestreo)"
                            title="Seleccionar">
                    </td>
                    <td *ngIf="mostrarCampo()">{{muestreo.numeroEntrega}}</td>
                    <td>-</td>
                    <td>{{muestreo.claveSitio}}</td>
                    <td>{{muestreo.claveMonitoreo}}</td>
                    <td>{{muestreo.nombreSitio}}</td>
                    <td>{{muestreo.ocdl}}</td>
                    <td>{{muestreo.cuerpoAgua}}</td>
                    <td>-</td>
                    <td>{{muestreo.tipoCuerpoAgua}}</td>
                    <td>{{muestreo.tipoSitio}}</td>
                    <td>{{muestreo.laboratorio}}</td>
                    <td>-</td>
                    <td>{{muestreo.fechaProgramada}}</td>
                    <td>{{muestreo.fechaRealizacion}}</td>
                    <td>{{muestreo.programaAnual}}</td>
                    <td>{{muestreo.horaInicio}}</td>
                    <td>{{muestreo.horaFin}}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <ng-container *ngFor="let sufijo of sufijos;">
                        <td *ngIf="existeEvidencia(muestreo.evidencias, sufijo) else elseBlock">
                            <div [ngSwitch]="sufijo">
                                <img *ngSwitchCase="'A'" (click)="descargarEvidencia(muestreo.claveMonitoreo, sufijo)"
                                    width="60px" class="cursor-pointer" src="./assets/images/site/iconoimagen.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'C'" (click)="descargarEvidencia(muestreo.claveMonitoreo, sufijo)"
                                    width="60px" class="cursor-pointer" src="./assets/images/site/ionoexel.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'D'" (click)="descargarEvidencia(muestreo.claveMonitoreo, sufijo)"
                                    width="60px" class="cursor-pointer" src="./assets/images/site/iconoPDF.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'E'" (click)="descargarEvidencia(muestreo.claveMonitoreo, sufijo)"
                                    width="60px" class="cursor-pointer" src="./assets/images/site/iconoimagen.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'M'" (click)="descargarEvidencia(muestreo.claveMonitoreo, sufijo)"
                                    width="60px" class="cursor-pointer" src="./assets/images/site/iconoimagen.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'O'" (click)="descargarEvidencia(muestreo.claveMonitoreo, sufijo)"
                                    width="60px" class="cursor-pointer" src="./assets/images/site/ionoexel.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'R'" (click)="descargarEvidencia(muestreo.claveMonitoreo, sufijo)"
                                    width="60px" class="cursor-pointer" src="./assets/images/site/ionoexel.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'S'" (click)="descargarEvidencia(muestreo.claveMonitoreo, sufijo)"
                                    width="60px" class="cursor-pointer" src="./assets/images/site/iconoimagen.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'V'" (click)="descargarEvidencia(muestreo.claveMonitoreo, sufijo)"
                                    width="60px" class="cursor-pointer" src="./assets/images/site/ionoexel.png"
                                    title="Click para descargar" />
                            </div>
                        </td>
                        <ng-template #elseBlock>
                            <td>-</td>
                        </ng-template>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-group">
        <pagination-controls (pageChange)="pageClic($event)" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>
