<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<div class="container-fluid">
    <h1 class="row col">Evidencias de monitoreo</h1>
    <hr class="red">
    <div class="message-container">
        <app-alert #mensajes id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta"
            [type]="this.tipoAlerta" (mostrando)="this.mostrarAlerta=$event"></app-alert>
    </div>
    <div class="clearfix">
        <div class="float-left">
            <input type="file" class="element-hidden" (change)="cargarEvidencias($event)"
                accept=".xls, .xlsx, .jpg, .pdf, .xlsm" multiple title="Seleccionar archivos" #fileUpload>
            <button type="button" class="btn btn-primary" (click)="fileUpload.click()">
                <i class="bi bi-cloud-upload"></i>
                Seleccionar y cargar evidencias
            </button>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-secondary mr-1" (click)="descargarEvidencias()">
                <i class="bi bi-cloud-download"></i>
                Descargar evidencias
            </button>
            <button class="btn btn-secondary btnAcciones" type="button" (click)="limpiarFiltros()">
                <i class="bi bi-funnel"></i>
                Limpiar filtros
            </button>
        </div>
    </div>
    <div class="table-responsive dvTable">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="checkBox-center">
                        <label for="chckAll">SELECCIONAR TODOS</label>
                        <input type="checkbox" id="chckAll" [(ngModel)]="this.seleccionarTodosChck"
                            (change)="seleccionarTodos()" />
                    </th>
                    <ng-container *ngFor="let columna of this.columnas">
                        <th *ngIf="mostrarColumna(columna.etiqueta)">
                            {{columna.etiqueta}}
                            <ng-autocomplete #filtros [data]="columna.filtro.values" [searchKeyword]="this.keyword"
                                (selected)="columna.filtro.selectedValue = $event; filtrar();"
                                (inputCleared)="columna.filtro.selectedValue = 'Seleccione'; filtrar()"
                                [itemTemplate]="itemTemplate" placeholder="seleccione">
                            </ng-autocomplete>
                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>
                        </th>
                    </ng-container>
                    <th>FOTO CAUDAL</th>
                    <th>MÁSCARA DE CAMPO</th>
                    <th>CADENA CUSTODIA</th>
                    <th>BITÁCORA</th>
                    <th>FOTO MUESTREO</th>
                    <th>FORMATO CAUDAL</th>
                    <th>TRACK</th>
                    <th>FOTO MUESTRA</th>
                    <th>FORMATO DE EVENTUALIDAD</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let muestreo of this.muestreosFiltrados | paginate: { itemsPerPage:30, currentPage: page }">
                    <td class="checkBox-center">
                        <input type="checkbox" [(ngModel)]="muestreo.isChecked" (change)="seleccionar()"
                            title="Seleccionar">
                    </td>
                    <td *ngIf="mostrarCampo()">{{muestreo.numeroEntrega}}</td>
                    <td>-</td>
                    <td>{{muestreo.claveSitio}}</td>
                    <td>{{muestreo.claveMonitoreo}}</td>
                    <td>{{muestreo.nombreSitio}}</td>
                    <td>{{muestreo.ocdl}}</td>
                    <td>{{muestreo.cuerpoAgua}}</td>
                    <td>-</td>
                    <td>{{muestreo.tipoCuerpoAgua}}</td>
                    <td>{{muestreo.tipoSitio}}</td>
                    <td>{{muestreo.laboratorio}}</td>
                    <td>-</td>
                    <td>{{muestreo.fechaProgramada}}</td>
                    <td>{{muestreo.fechaRealizacion}}</td>
                    <td>{{muestreo.programaAnual}}</td>
                    <td>{{muestreo.horaInicio}}</td>
                    <td>{{muestreo.horaFin}}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <ng-container *ngFor="let sufijo of sufijos;">
                        <td *ngIf="existeEvidencia(muestreo.evidencias, sufijo) else elseBlock">
                            <div [ngSwitch]="sufijo">
                                <img *ngSwitchCase="'A'"
                                    (click)="this.descargarEvidencia(muestreo.claveMonitoreo, sufijo)" width="60px"
                                    class="cursor-pointer" src="./assets/images/site/iconoimagen.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'C'"
                                    (click)="this.descargarEvidencia(muestreo.claveMonitoreo, sufijo)" width="60px"
                                    class="cursor-pointer" src="./assets/images/site/ionoexel.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'D'"
                                    (click)="this.descargarEvidencia(muestreo.claveMonitoreo, sufijo)" width="60px"
                                    class="cursor-pointer" src="./assets/images/site/iconoPDF.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'E'"
                                    (click)="this.descargarEvidencia(muestreo.claveMonitoreo, sufijo)" width="60px"
                                    class="cursor-pointer" src="./assets/images/site/iconoimagen.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'M'"
                                    (click)="this.descargarEvidencia(muestreo.claveMonitoreo, sufijo)" width="60px"
                                    class="cursor-pointer" src="./assets/images/site/iconoimagen.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'O'"
                                    (click)="this.descargarEvidencia(muestreo.claveMonitoreo, sufijo)" width="60px"
                                    class="cursor-pointer" src="./assets/images/site/ionoexel.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'R'"
                                    (click)="this.descargarEvidencia(muestreo.claveMonitoreo, sufijo)" width="60px"
                                    class="cursor-pointer" src="./assets/images/site/ionoexel.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'S'"
                                    (click)="this.descargarEvidencia(muestreo.claveMonitoreo, sufijo)" width="60px"
                                    class="cursor-pointer" src="./assets/images/site/iconoimagen.png"
                                    title="Click para descargar" />
                                <img *ngSwitchCase="'V'"
                                    (click)="this.descargarEvidencia(muestreo.claveMonitoreo, sufijo)" width="60px"
                                    class="cursor-pointer" src="./assets/images/site/ionoexel.png"
                                    title="Click para descargar" />
                            </div>
                        </td>
                        <ng-template #elseBlock>
                            <td>-</td>
                        </ng-template>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-group">
        <pagination-controls (pageChange)="page= $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>