<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<div class="container-fluid">
    <h3>Sustitución por límite máximo común</h3>
    <hr class="red">
    <div class="message-container">
        <app-alert #mensajes id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta"
            [type]="this.tipoAlerta" (mostrando)="this.mostrarAlerta=$event"></app-alert>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-secondary" data-toggle="modal"
                data-target="#mdlConfirmacion">Sustitución</button>
        </div>
    </div>
</div>
<button id="btnMdlConfirmacion" style="display:none" class="btn btn-primary rigth" type="button" data-toggle="modal"
    data-target="#mdlConfirmacion"></button>
<div class="modal fade modal-dialog-centered" id="mdlConfirmacion" data-bs-backdrop="static" data-toggle="modal">
    <div class="modal-dialog">
        <form [formGroup]="formOpcionesSustitucion" (ngSubmit)="onSubmit()">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="staticBackdropLabel">Opciones de sustitución</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>1.&nbsp;Seleccione el origen de límites:</p>
                            <input id="rdCatalogo" type="radio" formControlName="origenLimites" name="origenLimites"
                                value="1" (change)="validarArchivo()">
                            <label for="rdCatalogo">&nbsp;Catálogo de límites</label><br>
                            <input id="rdTblTemporal" type="radio" formControlName="origenLimites" name="origenLimites"
                                value="2" (change)="validarArchivo()">
                            <label for="rdTblTemporal">&nbsp;Tabla temporal</label>
                        </div>
                        <div class="col-md-6" style="border-left: solid 1px black;">
                            <p>2.&nbsp;Seleccione periodo:</p>
                            <input id="rdActual" type="radio" formControlName="periodo" name="periodo" value="actual">
                            <label for="rdActual">&nbsp;Actual</label><br>
                            <input id="rdActualVencido" type="radio" formControlName="periodo" name="periodo"
                                value="actualVencido">
                            <label for="rdActualVencido">&nbsp;Actual y vencido</label>
                        </div>
                    </div>
                    <div class="row col-md-12" style="margin-top: 15px;"
                        *ngIf="this.formOpcionesSustitucion.controls.origenLimites.value == '2'">
                        <p>Seleccione el archivo Excel de los límites máximos comunes:</p>
                        <input type="file" accept=".xls, .xlsx" formControlName="excelLimites" (change)="onFileChange($event)">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCancelarModal" class="btn btn-secondary" data-dismiss="modal" (click)="formOpcionesSustitucion.reset()">Cancelar</button>
                    <button id="btnAceptarModal" type="submit" class="btn btn-primary" [disabled]="!formOpcionesSustitucion.valid">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>