<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <label for="fecha-muestreo">Fecha de muestreo:</label>
            <input class="form-control" id="fecha-muestreo" type="date">
        </div>
        <div class="form-group">
            <label for="hora-inicio">Hora de inicio:</label>
            <input class="form-control" id="hora-inicio" type="time">
        </div>
        <div class="form-group">
            <label for="hora-termino">Hora de termino:</label>
            <input class="form-control" id="hora-termino" type="time">
        </div>
        <div class="form-group">
            <label for="puntaje-obtenido">Puntaje obtenido:</label>
            <input class="form-control" id="puntaje-obtenido" type="text" disabled>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <label for="oc-dl">OC/DL Realiza supervisión:</label>
            <select class="form-control" id="oc-dl">
                <option>Hidalgo</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nombre-supervisor">Nombre del supervisor:</label>
            <input class="form-control" id="nombre-supervisor" type="text" disabled>
        </div>
        <div class="form-group">
            <label for="clave-sitio">Clave de sitio:</label>
            <select class="form-control" id="clave-sitio">
                <option>OCBAJ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="oc-dl-informe">OC/DL que reportará en el informe mensual:</label>
            <select class="form-control" id="oc-dl-informe">
                <option>Hidalgo</option>
            </select>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <label for="clave-muestreo">Clave del muestreo:</label>
            <input class="form-control" id="clave-muestreo" type="text" disabled />
        </div>
        <div class="form-group">
            <label for="nombre-sitio">Nombre del sitio:</label>
            <input class="form-control" id="nombre-sitio" type="text" disabled />
        </div>
        <div class="form-group">
            <label for="tipo-cuerpo-agua">Tipo de cuerpo de agua:</label>
            <select class="form-control" id="tipo-cuerpo-agua">
                <option>Hidalgo</option>
            </select>
        </div>
        <div class="form-group">
            <label for="coordenadas-sitio">Coordenadas del sitio:</label>
            <input class="form-control" id="coordenadas-sitio" type="text" />
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <label for="coordenadas-muestra">Coordenadas dónde se realizó la muestra:</label>
            <input class="form-control" id="coordenadas-muestra" type="text" />
        </div>
        <div class="form-group">
            <label for="laboratorio">Laboratorio:</label>
            <select class="form-control" id="laboratorio">
                <option>LAB</option>
            </select>
        </div>
        <div class="form-group">
            <label for="responsable-muestra">Responsable de la toma de muestra:</label>
            <select class="form-control" id="responsable-muestra">
                <option>Nombre persona</option>
            </select>
        </div>
        <div class="form-group">
            <label for="responsable-mediciones">Responsable de las mediciones directas:</label>
            <select class="form-control" id="responsable-mediciones">
                <option>Nombre persona</option>
            </select>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <label for="observaciones">Observaciones generales del muestreo:</label>
            <textarea class="form-control" id="observaciones"></textarea>
        </div>
    </div>
</div>
<div *ngFor="let clasificacion of this.clasificaciones" class="row">
    <div class="col">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>{{clasificacion.descripcion}}</th>
                    <th>PUNTAJE</th>
                    <th>CUMPLE</th>
                    <th>NO CUMPLE</th>
                    <th>NO APLICA</th>
                    <th>OBSERVACIONES</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let criterio of clasificacion.criterios">
                    <tr>
                        <td>{{criterio.numero}}</td>
                        <td>{{criterio.descripcion}}</td>
                        <td>{{criterio.puntaje}}</td>
                        <td>
                            <input type="checkbox" [(ngModel)]="this.criterio.cumple"
                                title="Seleccione si el criterio cumple" />
                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="this.criterio.noCumple"
                                title="Seleccione si el criterio no cumple" />
                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="this.criterio.noAplica"
                                title="Seleccione si el criterio no aplica" />
                        </td>
                        <td><textarea [(ngModel)]="this.criterio.observacion"
                                title="Escriba las observaciones para el criterio"></textarea></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>