<div class="container-fluid">
    <h3>Registro de supervisión de muestreo</h3>
    <hr class="red">
    <form [formGroup]="supervisionForm" (submit)="guardar()">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="form-group ">
                    <label for="fecha-muestreo">Fecha de muestreo:*</label>
                    <input class="form-control" id="fecha-muestreo" type="date" formControlName="fechaMuestreo"
                        [ngClass]="{'is-invalid': submitted && f['fechaMuestreo'].errors }">
                    <div *ngIf="f['fechaMuestreo'].errors" class="invalid-feedback">
                        <div *ngIf="f['fechaMuestreo'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="hora-inicio">Hora de inicio:*</label>
                    <input class="form-control" id="hora-inicio" type="time" formControlName="horaInicio"
                        [ngClass]="{'is-invalid': submitted && f['horaInicio'].errors}">
                    <div *ngIf="f['horaInicio'].errors" class="invalid-feedback">
                        <div *ngIf="f['horaInicio'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="hora-termino">Hora de termino:*</label>
                    <input class="form-control" id="hora-termino" type="time" formControlName="horaFin"
                        [ngClass]="{'is-invalid': submitted && f['horaFin'].errors}">
                    <div *ngIf="f['horaFin'].errors" class="invalid-feedback">
                        <div *ngIf="f['horaFin'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="hora-toma-muestra">Hora de toma de muestra:*</label>
                    <input class="form-control" id="hora-toma-muestra" type="time" formControlName="horaTomaMuestra"
                        [ngClass]="{'is-invalid': submitted && f['horaTomaMuestra'].errors}">
                    <div *ngIf="f['horaTomaMuestra'].errors" class="invalid-feedback">
                        <div *ngIf="f['horaTomaMuestra'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="puntaje-obtenido">Puntaje obtenido:*</label>
                    <input class="form-control" id="puntaje-obtenido" type="text" formControlName="puntajeObtenido"
                        [ngClass]="{'is-invalid': submitted && f['puntajeObtenido'].errors}">
                    <div *ngIf="f['puntajeObtenido'].errors" class="invalid-feedback">
                        <div *ngIf="f['puntajeObtenido'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="oc-dl">OC/DL Realiza supervisión:*</label>
                    <select class="form-control" id="oc-dl" formControlName="ocdlRealiza"
                        [ngClass]="{'is-invalid': submitted && f['ocdlRealiza'].errors }">
                        <option value="0">Seleccione</option>
                        <option *ngFor="let ocdl of this.organismosDirecciones" [value]="ocdl.id">
                            {{ocdl.organismoCuencaDireccionLocal}}</option>
                    </select>
                    <div *ngIf="f['ocdlRealiza'].errors" class="invalid-feedback">
                        <div *ngIf="f['ocdlRealiza'].errors['min']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="nombre-supervisor">Nombre del supervisor:*</label>
                    <input class="form-control" id="nombre-supervisor" type="text" formControlName="nombreSupervisor"
                        [ngClass]="{'is-invalid': submitted && f['nombreSupervisor'].errors}">
                    <div *ngIf="f['nombreSupervisor'].errors" class="invalid-feedback">
                        <div *ngIf="f['nombreSupervisor'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="oc-dl-informe">OC que reportará en el informe mensual:*</label>
                    <select class="form-control" id="oc-dl-informe" formControlName="ocdlReporta"
                        [ngClass]="{'is-invalid': submitted && f['ocdlReporta'].errors}">
                        <option value="0">Seleccione</option>
                        <option *ngFor="let cuenca of this.cuencas" [value]="cuenca.id">{{cuenca.descripcion}}</option>
                    </select>
                    <div *ngIf="f['ocdlReporta'].errors" class="invalid-feedback">
                        <div *ngIf="f['ocdlReporta'].errors['min']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="clave-sitio">Clave de sitio:*</label>
                    <select class="form-control" id="clave-sitio" formControlName="claveSitio"
                        [ngClass]="{'is-invalid': submitted && f['claveSitio'].errors}">
                        <option [value]="0">seleccione</option>
                    </select>
                    <div *ngIf="f['claveSitio'].errors" class="invalid-feedback">
                        <div *ngIf="f['claveSitio'].errors['min']">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="clave-muestreo">Clave del muestreo:*</label>
                    <input class="form-control" id="clave-muestreo" type="text" formControlName="claveMuestreo"
                        [ngClass]="{'is-invalid': submitted && f['claveMuestreo'].errors}" />
                    <div *ngIf="f['claveMuestreo'].errors" class="invalid-feedback">
                        <div *ngIf="f['claveMuestreo'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="nombre-sitio">Nombre del sitio:*</label>
                    <input class="form-control" id="nombre-sitio" type="text" formControlName="nombreSitio"
                        [ngClass]="{'is-invalid': submitted && f['nombreSitio'].errors}" />
                    <div *ngIf="f['nombreSitio'].errors" class="invalid-feedback">
                        <div *ngIf="f['nombreSitio'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="tipo-cuerpo-agua">Tipo de cuerpo de agua:*</label>
                    <input type="text" class="form-control" id="tipo-cuerpo-agua" formControlName="tipoCuerpoAgua"
                        [ngClass]="{'is-invalid': submitted && f['tipoCuerpoAgua'].errors}" [disabled]="submitted" />
                    <div *ngIf="f['tipoCuerpoAgua'].errors" class="invalid-feedback">
                        <div *ngIf="f['tipoCuerpoAgua'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="laboratorio">Laboratorio:*</label>
                    <select class="form-control" id="laboratorio" formControlName="laboratorio"
                        [ngClass]=" {'is-invalid': submitted && f['laboratorio'].errors}"
                        (change)="refreshMuestreadores()">
                        <option value="1">ABC MATRIZ</option>
                        <option value="2">SAS</option>
                    </select>
                    <div *ngIf="f['laboratorio'].errors" class="invalid-feedback">
                        <div *ngIf="f['laboratorio'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="latitud-sitio">Latitud del sitio:*</label>
                    <input class="form-control" id="latitud-sitio" type="number" formControlName="latitudSitio"
                        [ngClass]="{'is-invalid': submitted && f['latitudSitio'].errors}" />
                    <div *ngIf="f['latitudSitio'].errors" class="invalid-feedback">
                        <div *ngIf="f['latitudSitio'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="longitud-sitio">Longitud del sitio:*</label>
                    <input class="form-control" id="longitud-sitio" type="number" formControlName="longitudSitio"
                        [ngClass]="{'is-invalid': submitted && f['longitudSitio'].errors}" />
                    <div *ngIf="f['longitudSitio'].errors" class="invalid-feedback">
                        <div *ngIf="f['longitudSitio'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="latitud-toma">Latitud dónde se realizó la muestra:*</label>
                    <input class="form-control" id="latitud-toma" type="number" formControlName="latitudToma"
                        [ngClass]="{'is-invalid': submitted && f['latitudToma'].errors}" />
                    <div *ngIf="f['latitudToma'].errors" class="invalid-feedback">
                        <div *ngIf="f['latitudToma'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="longitud-toma">Longitud dónde se realizó la muestra:*</label>
                    <input class="form-control" id="longitud-toma" type="number" formControlName="longitudToma"
                        [ngClass]="{'is-invalid': submitted && f['longitudToma'].errors}" />
                    <div *ngIf="f['longitudToma'].errors" class="invalid-feedback">
                        <div *ngIf="f['longitudToma'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="responsable-muestra">Responsable de la toma de muestra:*</label>
                    <select class="form-control" id="responsable-muestra" formControlName="nombreResponsableMuestra"
                        [ngClass]="{'is-invalid': submitted && f['nombreResponsableMuestra'].errors}">
                        <option value="0">Seleccione</option>
                        <option *ngFor="let muestreador of this.muestreadoresLaboratorio" [value]="">
                            {{muestreador.nombre + ' ' + muestreador.apellidoPaterno + ' ' +
                            muestreador.apellidoMaterno}}</option>
                    </select>
                    <div *ngIf="f['nombreResponsableMuestra'].errors" class="invalid-feedback">
                        <div *ngIf="f['nombreResponsableMuestra'].errors['min']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="responsable-mediciones">Responsable de las mediciones directas:*</label>
                    <select class="form-control" id="responsable-mediciones"
                        formControlName="nombreResponsableMediciones"
                        [ngClass]="{'is-invalid': submitted && f['nombreResponsableMediciones'].errors}">
                        <option value="0">Seleccione</option>
                        <option *ngFor="let muestreador of this.muestreadoresLaboratorio" [value]="">
                            {{muestreador.nombre + ' ' + muestreador.apellidoPaterno + ' ' +
                            muestreador.apellidoMaterno}}</option>
                    </select>
                    <div *ngIf="f['nombreResponsableMediciones'].errors" class="invalid-feedback">
                        <div *ngIf="f['nombreResponsableMediciones'].errors['min']">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="form-group">
                    <label for="observaciones">Observaciones del muestreo:*</label>
                    <textarea class="form-control" id="observaciones"
                        formControlName="observacionesMuestreo"></textarea>
                    <div *ngIf="f['observacionesMuestreo'].errors" class="invalid-feedback">
                        <div *ngIf="f['observacionesMuestreo'].errors['required']">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>
    <div *ngFor="let clasificacion of this.supervision.clasificaciones" class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>{{clasificacion.descripcion}}</th>
                            <th>PUNTAJE</th>
                            <th>CUMPLE</th>
                            <th>NO CUMPLE</th>
                            <th>NO APLICA</th>
                            <th>OBSERVACIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let criterio of clasificacion.criterios">
                            <tr
                                [ngClass]="{'table-warning': this.criterio.cumplimiento == 'noAplica' && this.criterio.obligatorio}">
                                <td>{{criterio.id}}</td>
                                <td>{{criterio.descripcion}}</td>
                                <td>{{criterio.puntaje}}</td>
                                <td>
                                    <input type="radio" [name]="criterio.descripcion" value="cumple"
                                        [(ngModel)]="this.criterio.cumplimiento"
                                        title="Seleccione si el criterio cumple" />
                                </td>
                                <td>
                                    <input type="radio" [name]="criterio.descripcion" value="noCumple"
                                        [(ngModel)]="this.criterio.cumplimiento"
                                        title="Seleccione si el criterio no cumple" />
                                </td>
                                <td>
                                    <input type="radio" [name]="criterio.descripcion" value="noAplica"
                                        [(ngModel)]="this.criterio.cumplimiento"
                                        title="Seleccione si el criterio no aplica" />
                                </td>
                                <td><textarea [(ngModel)]="this.criterio.observacion"
                                        title="Escriba las observaciones para el criterio"></textarea>
                                    <div
                                        *ngIf="this.criterio.obligatorio && this.criterio.cumplimiento === 'noAplica' && this.criterio.observacion == ''">
                                        Observaciones requeridas.
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label" for="archivo-supervision">Archivo de supervisión de muestreo:</label>
                <input type="file" id="archivo-supervision" accept=".pdf" (change)="onFileChange($event)">
                <div>
                    {{this.supervision.archivoPdfSupervision?.name}}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label" for="evidencias-fotograficas">Evidencias fotográficas:</label>
                <input type="file" id="evidencias-fotograficas" accept=".jpg" multiple
                    (change)="onFileChangeEvidencias($event)">
                <div *ngFor="let evidencia of this.supervision.archivosEvidencias">
                    {{evidencia?.name}}
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-secondary mr-5">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
    </div>
</div>