<router-outlet name="menu"></router-outlet>
<form>
  <div class="form-group  d-flex justify-content-center">
    <app-loading *ngIf="loading"></app-loading>
  </div>
</form>
<div class="container-fluid">
  <h3>Acumulacion Resultados</h3>
  <hr class="red">
  <div class="message-container">
    <app-alert id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta" [type]="this.tipoAlerta"
               (mostrando)="this.mostrarAlerta=$event"></app-alert>
  </div>
  <div class="d-flex flex-row-reverse opciones-tabla">
    <div class="p-2">
      <button class="btn btn-secondary" type="button" (click)="onDownload()">
        <i class="bi bi-cloud-download"></i> Descargar informaci&oacute;n
      </button>
    </div>
    <div class="p-2">
      <button class="btn btn-secondary" type="button">
        <i class="bi bi-funnel"></i>
        Limpiar filtros
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 table-responsive dvTable">
      <table class="table table-striped">
        <thead>
          <tr>
            
            <th *ngFor="let columna of columnas">
              {{columna.etiqueta}}
              <ng-autocomplete #filtros [data]="columna.filtro.values" [searchKeyword]="this.keyword"
                               (selected)="columna.filtro.selectedValue = $event; filtrarn();"
                               (inputCleared)="columna.filtro.selectedValue = 'Seleccione'; filtrarn()" [itemTemplate]="itemTemplate"
                               placeholder="seleccione">
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item"></a>
              </ng-template>
            </th>
          </tr>
        </thead>
        <tbody style="text-align:left;">
          <tr *ngFor="let dato of this.resultadosFiltradosn| paginate: { itemsPerPage:NoPage, currentPage: page }; let indice=index">

            <td style="text-align: center;">{{dato.claveUnica}}</td>
            <td style="text-align: center;">{{dato.claveMonitoreo}}</td>
            <td style="text-align: center;">{{dato.claveSitio}}</td>
            <td style="text-align: center;">{{dato.nombreSitio}}</td>
            <td style="text-align: center;">{{dato.fechaProgramada}}</td>
            <td style="text-align: center;">{{dato.fechaRealizacion}}</td>
            <td style="text-align: center;">{{dato.horaInicio}}</td>
            <td style="text-align: center;">{{dato.horaFin}}</td>
            <td style="text-align: center;">{{dato.zonaEstrategica}}</td>
            <td style="text-align: center;">{{dato.tipoCuerpoAgua}}</td>
            <td style="text-align: center;">{{dato.subTipoCuerpoAgua}}</td>
            <td style="text-align: center;">{{dato.laboratorio}}</td>
            <td style="text-align: center;">{{dato.laboratorioRealizoMuestreo}}</td>
            <td style="text-align: center;">{{dato.laboratorioSubrogado}}</td>            
            <td style="text-align: center;">{{dato.grupoParametro}}</td>
            <td style="text-align: center;">{{dato.subGrupo}}</td>
            <td style="text-align: center;">{{dato.claveParametro}}</td>
            <td style="text-align: center;">{{dato.parametro}}</td>
            <td style="text-align: center;">{{dato.unidadMedida}}</td>
            <td style="text-align: center;">{{dato.resultado}}</td>
            <td style="text-align: center;">{{dato.nuevoResultadoReplica}}</td>
            <td style="text-align: center;">{{dato.programaAnual}}</td>
            <td style="text-align: center;">{{dato.idResultadoLaboratorio}}</td>
            <td style="text-align: center;">{{dato.fechaEntrega}}</td>
            <td style="text-align: center;">{{dato.replica}}</td>
            <td style="text-align: center;">{{dato.cambioResultado}}</td>
          </tr>
          <tr>
            <td colspan="24">
              <div *ngIf="this.resultadosFiltradosn.length==0" style="text-align: center;">
                No se encontraron registros
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="page= $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
  </div>

</div>


