<router-outlet name="menu"></router-outlet>
<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<div class="container-fluid">
    <h3>Resultados aprobados | Sustitución por emergencia</h3>
    <hr class="red">
    <div class="message-container">
        <app-alert #mensajes id="dvMessage" [mostrar]="this.mostrarAlerta" [message]="this.mensajeAlerta"
            [type]="this.tipoAlerta" (mostrando)="this.mostrarAlerta=$event"></app-alert>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="año">Seleccione Contrato/Año:</label>
            <select class="form-control" name="año" id="año">
                <option value="2023">2023</option>
                <option value="2022">2022</option>
            </select>
        </div>
        <div class="col-md-3 text-right">
            <button type="button" class="btn btn-secondary" (click)="exportarResumen()">
                <i class="bi bi-cloud-upload"></i>
                Cargar emergencia
            </button>
        </div>
        <div class="col-md-3 text-left">
            <button type="button" class="btn btn-secondary" (click)="exportarResumen()">
                <i class="bi bi-cloud-upload"></i>
                Cargar límites
            </button>
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-secondary" (click)="exportarResumen()">
                <i class="bi bi-cloud-download"></i>
                Descargar resumen
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive dvTable" style="max-width: 1900px;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>CLAVE SITIO</th>
                        <th>CLAVE MONITOREO</th>
                        <th>NOMBRE DEL SITIO</th>
                        <th>TIPO CUERPO DE AGUA</th>
                        <th>FECHA REALIZACIÓN</th>
                        <th>AÑO</th>
                        <th *ngFor="let parametro of this.registros[1].resultados">{{parametro.descripcion}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registro of this.registros | paginate: { itemsPerPage:30, currentPage: page }">
                        <td>{{registro.claveSitio}}</td>
                        <td>{{registro.claveMonitoreo}}</td>
                        <td>{{registro.nombreSitio}}</td>
                        <td>{{registro.tipoCuerpoAgua}}</td>
                        <td>{{registro.fechaRealizacion}}</td>
                        <td>{{registro.anio}}</td>
                        <td *ngFor="let resultado of this.registro.resultados">{{resultado.valor}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls (pageChange)="page= $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>
<!-- <button id="btnMdlConfirmacion" style="display:none" class="btn btn-primary rigth" type="button" data-toggle="modal"
    data-target="#mdlConfirmacion"></button>
<div class="modal fade modal-dialog-centered" id="mdlConfirmacion" data-bs-backdrop="static" data-toggle="modal">
    <div class="modal-dialog">
        <form [formGroup]="formOpcionesSustitucion" (ngSubmit)="onSubmit()">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="staticBackdropLabel">Opciones de sustitución</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>1.&nbsp;Seleccione el origen de límites:</p>
                            <input id="rdCatalogo" type="radio" formControlName="origenLimites" name="origenLimites"
                                value="1" (change)="validarArchivo()">
                            <label for="rdCatalogo">&nbsp;Catálogo de límites</label><br>
                            <input id="rdTblTemporal" type="radio" formControlName="origenLimites" name="origenLimites"
                                value="2" (change)="validarArchivo()">
                            <label for="rdTblTemporal">&nbsp;Tabla temporal</label>
                        </div>
                        <div class="col-md-6" style="border-left: solid 1px black;">
                            <p>2.&nbsp;Seleccione periodo:</p>
                            <input id="rdActual" type="radio" formControlName="periodo" name="periodo" value="actual">
                            <label for="rdActual">&nbsp;Actual</label><br>
                            <input id="rdActualVencido" type="radio" formControlName="periodo" name="periodo"
                                value="actualVencido">
                            <label for="rdActualVencido">&nbsp;Actual y vencido</label>
                        </div>
                    </div>
                    <div class="row col-md-12" style="margin-top: 15px;"
                        *ngIf="this.formOpcionesSustitucion.controls.origenLimites.value == '2'">
                        <p>Seleccione el archivo Excel de los límites máximos comunes:</p>
                        <input type="file" accept=".xls, .xlsx" formControlName="excelLimites"
                            (change)="onFileChange($event)">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCancelarModal" class="btn btn-secondary" data-dismiss="modal"
                        (click)="formOpcionesSustitucion.reset()">Cancelar</button>
                    <button id="btnAceptarModal" type="submit" class="btn btn-primary"
                        [disabled]="!formOpcionesSustitucion.valid">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div> -->